/*
 * 参考资料：
 * 1. 是在 Zhang-Light 的主题下测试的
*  2. 思路借鉴 Zhang-Light 主题的 列表转表格 功能
 * 3. 列表竖排：https://karthikdevarticles.com/creating-a-kanban-board-with-html-css-and-javascript
 * 4. 安装：在 css 文件中添加 list-to-kanban-by-line-share.css的路径 
      @import url(path/to/list-to-kanban-by-line-share.css);

 * 5. 在列表前有连续两行分割符即可，支持无序列表和有序列表 也有通过自定义属性 f=kb。
 *
 * 制作人: 路人二
 * 版本: V1.0.0-dev
 * 时间: 2022-04-22
 * 更新日志：
 *  1. 完成基本的渲染功能
 *  2. 修改配色
 *  3. 解决一些bug
 */
 
/* -----------------------------------------------列表转化为表格------------------------------------------- */
/* 设置整个列表表格的缩进 */
:root{

    --d-f-c:#181A1D;
    --v-r-b:12px;
    --ac-theme2:#2AA899;
    /* ———————————— 列表2看板 ———————————— */

    --kbline-board-bg-color: #e7e7e7;              /* 主背景色 */
    --kbline-board-bg-color1: #fdfdfd;             /* 各个子项背景色 */

    --kbline-theme-hover2: #f8ecec;                 /*鼠标悬浮的背景色*/
    --kbline-theme-hover1: var(--d-f-c);              /*鼠标悬浮的前景色*/


    --kbline-border-normal: 1px solid #ddd4df;      /* 边框的颜色 */
    --kbline-board-border-radius: var(--v-r-b);        /*圆角弧度*/
    --kbline-board-border-color: var(--ac-theme2);     /*边框颜色*/

   
    --kbline-board-title-svg-color: var(--d-f-c);        /*符号·的前景色*/
    --kbline-board-title-svg-bg:#c0e9fc;     /*符号·的背景色*/
    
    --kbline-board-title-bg:#c0e9fc;         /*标题的背景色*/
    --kbline-board-title-color:var(--d-f-c);             /*标题的前景色*/

    --kbline-board-item-color:var(--d-f-c);              /*看板卡片前景色*/
    --kbline-board-item-code-color:var(--d-f-c);

     /*调整下面参数，可能会产生一些渲染bug*/
    --kbline-bord-margin: 10px;                        /*看板列表-之间的间距*/
    --kbline-boarditem-margin-bottom: 5px;            /*看板卡片-之间的间距*/
    --kbline-boarditem-maxwidth:   25rem;              /*看板卡片的最大宽度*/
    --kbline-boarditem-minwidth: 14rem;                /*看板卡片的最小宽度*/
    --kbline-boarditem-minHight: 4.5rem;               /*看板卡片的最小高度*/

    /* ———————————— 列表2看板(end) ———————————— */
}

/* 01-竖向排列的列表-横向排列:在导出的时候，取消竖排，避免导出内容缺失 */ 

:not(#preview).protyle-wysiwyg .list[custom-f~=kb][data-node-id][data-type="NodeList"],
:not(#preview).protyle-wysiwyg .hr:first-child+.hr+.list[data-node-id][data-type="NodeList"],
:not(#preview).protyle-wysiwyg :not(.hr)+.hr+.hr+.list[data-node-id][data-type="NodeList"]
{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    max-width: var(--kbline-boarditem-maxwidth);       /*固定宽度*/
}

/* ————————————————————所有子项目的表格（除去第一列其余的列），包含溢出的空白部分，所以才会有边框—————————————————————— */
.protyle-wysiwyg *[custom-f~=kb] .li .list ,
.protyle-wysiwyg .hr:first-child+.hr+*:not(.bq) .li .list ,
.protyle-wysiwyg :not(.hr)+.hr+.hr+*:not(.bq) .li .list {
    /* outline: var(--kbline-border-normal); */
    color: var(--kbline-board-item-color);
    /* background: var(--kbline-board-bg-color); */
    
    padding: 0px;
    padding-right: 15px;
    min-width: var(--kbline-boarditem-minwidth);
    min-height: var(--kbline-boarditem-minHight);
    
    border-radius: var(--kbline-board-border-radius);
    
    padding: 0.75em 0.05em;
    margin-top: 0;
    transform: translate(-15px, 0);
}

/* ————————————————————对所有子列表项设置格式———————————————————— */
.protyle-wysiwyg *[custom-f~=kb] .li ,
.protyle-wysiwyg .hr:first-child+.hr+*:not(.bq) .li ,
.protyle-wysiwyg :not(.hr)+.hr+.hr+*:not(.bq) .li {
   
    min-height: var(--kbline-boarditem-minHight);
    outline: var(--kbline-border-normal);
    
    border-radius: var(--kbline-board-border-radius);
    background: var(--kbline-board-bg-color1);
    
    padding: 0.75em 0.05em;
    margin-top: 0;
    margin-bottom: var(--kbline-boarditem-margin-bottom);
}

.protyle-wysiwyg *[custom-f~=kb] .li .p code,
.protyle-wysiwyg .hr:first-child+.hr+*:not(.bq) .li .p  code,
.protyle-wysiwyg :not(.hr)+.hr+.hr+*:not(.bq) .li .p code{
    color: var(--kbline-board-item-code-color);
}


/*处理最最外层的边框颜色（整个看板）*/
.protyle-wysiwyg *[custom-f~=kb][data-node-index]:not([data-type="NodeBlockquote"]) > div ,
.protyle-wysiwyg *[custom-f~=kb]:not([data-type="NodeBlockquote"]) > div ,
.protyle-wysiwyg .hr:first-child+.hr+*:not(.bq)[data-node-index]:not([data-type="NodeBlockquote"]) > div ,
.protyle-wysiwyg .hr:first-child+.hr+*:not(.bq):not([data-type="NodeBlockquote"]) > div ,
.protyle-wysiwyg :not(.hr)+.hr+.hr+*:not(.bq)[data-node-index]:not([data-type="NodeBlockquote"]) > div 
,.protyle-wysiwyg :not(.hr)+.hr+.hr+*:not(.bq):not([data-type="NodeBlockquote"]) > div {
    outline-color: #fcf9f2;
    margin-left: var(--kbline-bord-margin);
    background: var(--kbline-board-bg-color);
}

/*只处理每个列表的第一行*/
.protyle-wysiwyg *[custom-f~=kb][data-node-index]:not([data-type="NodeBlockquote"]) > div > div:nth-child(2),
.protyle-wysiwyg *[custom-f~=kb]:not([data-type="NodeBlockquote"]) > div > div:nth-child(2),
.protyle-wysiwyg .hr:first-child+.hr+*:not(.bq)[data-node-index]:not([data-type="NodeBlockquote"]) > div > div:nth-child(2),
.protyle-wysiwyg .hr:first-child+.hr+*:not(.bq):not([data-type="NodeBlockquote"]) > div > div:nth-child(2),
.protyle-wysiwyg :not(.hr)+.hr+.hr+*:not(.bq)[data-node-index]:not([data-type="NodeBlockquote"]) > div > div:nth-child(2)
,.protyle-wysiwyg :not(.hr)+.hr+.hr+*:not(.bq):not([data-type="NodeBlockquote"]) > div > div:nth-child(2){
   
    min-width: var(--kbline-boarditem-minwidth);
    color: var(--kbline-board-title-color);
    background-color: var(--kbline-board-title-bg);
    /* background: var(--kbline-board-bg-color); */
    font-weight: bold;

    /*居中*/
    display:flex;
    justify-content:center;
    align-items:center;
    /* outline: var(--kbline-border-normal); */
    /* border-radius: 0 var(--kbline-board-border-radius) var(--kbline-board-border-radius) 0; */
    border-radius: var(--kbline-board-border-radius);


    padding: 0.75em 0.05em;
    margin-top: 0;
    /* margin-bottom: 5px; */
    transform: translate(-0.75em,0);
}

/*只处理每个列表第一行的点*/
.protyle-wysiwyg *[custom-f~=kb][data-node-index]:not([data-type="NodeBlockquote"]) > div > div:nth-child(1),
.protyle-wysiwyg *[custom-f~=kb]:not([data-type="NodeBlockquote"]) > div > div:nth-child(1),
.protyle-wysiwyg .hr:first-child+.hr+*:not(.bq)[data-node-index]:not([data-type="NodeBlockquote"]) > div > div:nth-child(1),
.protyle-wysiwyg .hr:first-child+.hr+*:not(.bq):not([data-type="NodeBlockquote"]) > div > div:nth-child(1),
.protyle-wysiwyg :not(.hr)+.hr+.hr+*:not(.bq)[data-node-index]:not([data-type="NodeBlockquote"]) > div > div:nth-child(1)
,.protyle-wysiwyg :not(.hr)+.hr+.hr+*:not(.bq):not([data-type="NodeBlockquote"]) > div > div:nth-child(1)
{
    padding: 0.08em;
    z-index: 1;
    color: var(--kbline-board-title-svg-color);
    transform: translate(0.75em,50%);

    /* background-color: var(--kbline-board-title-svg-bg); */
    /* border-radius: var(--kbline-board-border-radius) 0 0 var(--kbline-board-border-radius); */

}

/* ————————————————————大神增加代码———————————————————— */
.protyle-wysiwyg *[custom-f~=kb] [data-node-id].li>[data-node-id] ,
.protyle-wysiwyg .hr:first-child+.hr+*:not(.bq) [data-node-id].li>[data-node-id] ,
.protyle-wysiwyg :not(.hr)+.hr+.hr+*:not(.bq) [data-node-id].li>[data-node-id] {
    /*右侧出现线条，把第一行的左移动，文本和子列表对齐*/
    margin-left: 30px !important; 
}

/*（效果不好）悬浮在块上的时候有颜色, 会同时高亮选中的所有的 item 而不是单个*/
/* .protyle-wysiwyg *[custom-f~="kb"] .li:hover{
    background-color: var(--kbline-theme-hover2);
} */
/*（勉强还行）悬浮在块上的时候有颜色, 但只高亮文字，而不是全部块*/
.protyle-wysiwyg *[custom-f~=kb] .p:hover,
.protyle-wysiwyg .hr:first-child+.hr+*:not(.bq) .p:hover,
.protyle-wysiwyg :not(.hr)+.hr+.hr+*:not(.bq) .p:hover{
    background-color: var(--kbline-theme-hover2);
    color: var(--kbline-theme-hover1);
}

/* ————————————————————去除小竖线———————————————————— */
.list[custom-f~=kb][data-node-id][data-type="NodeList"] .li>:before ,
.hr:first-child+.hr+.list[data-node-id][data-type="NodeList"] .li>:before ,
:not(.hr)+.hr+.hr+.list[data-node-id][data-type="NodeList"] .li>:before {
    display: none;
}

/* ————————————————————减小前面符号·的大小———————————————————— */
.list[custom-f~=kb][data-node-id][data-type="NodeList"] .protyle-action ,
.hr:first-child+.hr+.list[data-node-id][data-type="NodeList"] .protyle-action ,
:not(.hr)+.hr+.hr+.list[data-node-id][data-type="NodeList"] .protyle-action {
    color: var(--kbline-board-title-svg-colo);
}

.list[custom-f~=kb][data-node-id][data-type="NodeList"] .protyle-action>svg ,
.hr:first-child+.hr+.list[data-node-id][data-type="NodeList"] .protyle-action>svg ,
:not(.hr)+.hr+.hr+.list[data-node-id][data-type="NodeList"] .protyle-action>svg {
    width: 10px;
}

/* 对除了第一层之外的子列表 .protyle-action 移动 */
.protyle-wysiwyg *[custom-f~=kb] .li .list .protyle-action,
.protyle-wysiwyg .hr:first-child+.hr+*:not(.bq) .li .list .protyle-action,
.protyle-wysiwyg :not(.hr)+.hr+.hr+*:not(.bq) .li .list .protyle-action{

    z-index: 1;
    position: absolute;
    top: 20px;
    transform: translate(0.75em, -50%);
    width: 20px;
    height: 20px;

    background: var(--kbline-board-bg-color);
    border-radius: var(--kbline-board-border-radius);
}

/* 对除了第一层之外的子列表 文本 也移动 */
.protyle-wysiwyg *[custom-f~=kb] .li .list .p,
.protyle-wysiwyg .hr:first-child+.hr+*:not(.bq) .li .list .p ,
.protyle-wysiwyg :not(.hr)+.hr+.hr+*:not(.bq) .li .list .p {
    word-break: break-all;
}


/* 去掉多余的边框*/
.protyle-wysiwyg *[custom-f~=kb] .list,
.protyle-wysiwyg .hr:first-child+.hr+*:not(.bq) .list,
.protyle-wysiwyg :not(.hr)+.hr+.hr+*:not(.bq) .list{
    outline: none !important;
}


/*------------------解决文字跨行时，上面一行间距很宽的问题------------------------*/
.protyle-wysiwyg *[custom-f~=kb] .p  > div,
.protyle-wysiwyg .hr:first-child+.hr+*:not(.bq) .p  > div,
.protyle-wysiwyg :not(.hr)+.hr+.hr+*:not(.bq) .p  > div{
    word-break: break-all;
}

/* ---------------------------------------------------------列表转化为表格 END-------------------------------------------------- */
