[data-theme-mode="dark"] {
    --v-color-scheme: dark;
    --v-invert-dark: var(--v-invert-dark-dk);
    --v-brightness-dk: var(--v-brightness-dark-dk);
    --d-bc: var(--d-bc-dk);
    --d-bc-tsp: var(--d-bc-tsp-dk);
    --d-bi: var(--d-bi-dk);
    --d-f-c: var(--d-f-c-dk);
    --d-f-c-alt: var(--d-f-c-alt-dk);
    --pn-c: var(--pn-c-dk);
    --pn-c-alt: var(--pn-c-alt-dk);
    --pn-c-tsp: var(--pn-c-tsp-dk);
    --blockquote-bg: var(--blockquote-bg-dk);
    --a-color: var(--a-color-dk);
    --mark-bg: var(--mark-bg-dk);
    --tbl-h-bd: var(--tbl-h-bd-dk);
    --tbl-bd: var(--tbl-bd-dk);
    --tbl-th-bg: var(--tbl-th-bg-dk);
    --tbl-td-bg: var(--tbl-td-bg-dk);
    --tbl-cell-bd: var(--tbl-cell-bd-dk);
    --tbl-row-g-alpha: var(--tbl-row-g-alpha-dk);
    --toc-h-num-color: var(--toc-h-num-color-dk);
    --h-f: var(--h-f-dk);
    --h-box-shadow: var(--h-box-shadow-dk);
    --h-bg-start: var(--h-bg-start-dk);
    --h-bg-end: var(--h-bg-end-dk);
    --code-bg: var(--code-bg-dk);
    --code-t: var(--code-t-dk);
    --std-code-shadow: var(--std-code-shadow-dk);
    --rb-code-shadow: var(--rb-code-shadow-dk);
    --c-blk-bg: var(--c-blk-bg-dk);
    --key-bg: var(--key-bg-dk);
    --key-reflect: var(--key-reflect-dk);
    --key-shadow: var(--key-shadow-dk);
    --ac-rd: var(--ac-rd-dk);
    --ac-rd-alt: var(--ac-rd-alt-dk);
    --ac-rd-fade: var(--ac-rd-fade-dk);
    --ac-rd-title: var(--ac-rd-title-dk);
    --ac-og: var(--ac-og-dk);
    --ac-og-alt: var(--ac-og-alt-dk);
    --ac-og-fade: var(--ac-og-fade-dk);
    --ac-og-title: var(--ac-og-title-dk);
    --ac-ye: var(--ac-ye-dk);
    --ac-ye-alt: var(--ac-ye-alt-dk);
    --ac-ye-fade: var(--ac-ye-fade-dk);
    --ac-ye-title: var(--ac-ye-title-dk);
    --ac-lm: var(--ac-lm-dk);
    --ac-lm-alt: var(--ac-lm-alt-dk);
    --ac-lm-fade: var(--ac-lm-fade-dk);
    --ac-lm-title: var(--ac-lm-title-dk);
    --ac-gn: var(--ac-gn-dk);
    --ac-gn-alt: var(--ac-gn-alt-dk);
    --ac-gn-fade: var(--ac-gn-fade-dk);
    --ac-gn-title: var(--ac-gn-title-dk);
    --ac-mn: var(--ac-mn-dk);
    --ac-mn-alt: var(--ac-mn-alt-dk);
    --ac-mn-fade: var(--ac-mn-fade-dk);
    --ac-mn-title: var(--ac-mn-title-dk);
    --ac-ol: var(--ac-ol-dk);
    --ac-ol-alt: var(--ac-ol-alt-dk);
    --ac-ol-fade: var(--ac-ol-fade-dk);
    --ac-ol-title: var(--ac-ol-title-dk);
    --ac-wn: var(--ac-wn-dk);
    --ac-wn-alt: var(--ac-wn-alt-dk);
    --ac-wn-fade: var(--ac-wn-fade-dk);
    --ac-wn-title: var(--ac-wn-title-dk);
    --ac-aq: var(--ac-aq-dk);
    --ac-aq-alt: var(--ac-aq-alt-dk);
    --ac-aq-fade: var(--ac-aq-fade-dk);
    --ac-aq-title: var(--ac-aq-title-dk);
    --ac-cy: var(--ac-cy-dk);
    --ac-cy-alt: var(--ac-cy-alt-dk);
    --ac-cy-fade: var(--ac-cy-fade-dk);
    --ac-cy-title: var(--ac-cy-title-dk);
    --ac-bu: var(--ac-bu-dk);
    --ac-bu-alt: var(--ac-bu-alt-dk);
    --ac-bu-fade: var(--ac-bu-fade-dk);
    --ac-bu-title: var(--ac-bu-title-dk);
    --ac-se: var(--ac-se-dk);
    --ac-se-alt: var(--ac-se-alt-dk);
    --ac-se-fade: var(--ac-se-fade-dk);
    --ac-se-title: var(--ac-se-title-dk);
    --ac-la: var(--ac-la-dk);
    --ac-la-alt: var(--ac-la-alt-dk);
    --ac-la-fade: var(--ac-la-fade-dk);
    --ac-la-title: var(--ac-la-title-dk);
    --ac-vn: var(--ac-vn-dk);
    --ac-vn-alt: var(--ac-vn-alt-dk);
    --ac-vn-fade: var(--ac-vn-fade-dk);
    --ac-vn-title: var(--ac-vn-title-dk);
    --ac-pu: var(--ac-pu-dk);
    --ac-pu-alt: var(--ac-pu-alt-dk);
    --ac-pu-fade: var(--ac-pu-fade-dk);
    --ac-pu-title: var(--ac-pu-title-dk);
    --ac-ro: var(--ac-ro-dk);
    --ac-ro-alt: var(--ac-ro-alt-dk);
    --ac-ro-fade: var(--ac-ro-fade-dk);
    --ac-ro-title: var(--ac-ro-title-dk);
    --ac-pk: var(--ac-pk-dk);
    --ac-pk-alt: var(--ac-pk-alt-dk);
    --ac-pk-fade: var(--ac-pk-fade-dk);
    --ac-pk-title: var(--ac-pk-title-dk);
    --ac-gd: var(--ac-gd-dk);
    --ac-gd-alt: var(--ac-gd-alt-dk);
    --ac-gd-fade: var(--ac-gd-fade-dk);
    --ac-gd-title: var(--ac-gd-title-dk);
    --ac-bn: var(--ac-bn-dk);
    --ac-bn-alt: var(--ac-bn-alt-dk);
    --ac-bn-fade: var(--ac-bn-fade-dk);
    --ac-bn-title: var(--ac-bn-title-dk);
    --ac-gy: var(--ac-gy-dk);
    --ac-gy-alt: var(--ac-gy-alt-dk);
    --ac-gy-fade: var(--ac-gy-fade-dk);
    --ac-gy-title: var(--ac-gy-title-dk);
    --ac-bk: var(--ac-bk-dk);
    --ac-bk-alt: var(--ac-bk-alt-dk);
    --ac-bk-fade: var(--ac-bk-fade-dk);
    --ac-bk-title: var(--ac-bk-title-dk);
    --ac-t1: var(--ac-t1-dk);
    --ac-t1-alt: var(--ac-t1-alt-dk);
    --ac-t1-fade: var(--ac-t1-fade-dk);
    --ac-t1-title: var(--ac-t1-title-dk);
    --ac-t2: var(--ac-t2-dk);
    --ac-t2-alt: var(--ac-t2-alt-dk);
    --ac-t2-fade: var(--ac-t2-fade-dk);
    --ac-t2-title: var(--ac-t2-title-dk);
    --cm-keyword: var(--cm-keyword-dk);
    --cm-variable: var(--cm-variable-dk);
    --cm-variable-2: var(--cm-variable-2-dk);
    --cm-variable-3: var(--cm-variable-3-dk);
    --cm-tag: var(--cm-tag-dk);
    --cm-attribute: var(--cm-attribute-dk);
    --cm-string: var(--cm-string-dk);
    --cm-string-2: var(--cm-string-2-dk);
    --cm-comment: var(--cm-comment-dk);
    --cm-header: var(--cm-header-dk);
    --cm-quote: var(--cm-quote-dk);
    --cm-hr: var(--cm-hr-dk);
    --cm-link: var(--cm-link-dk);
    --cm-negative: var(--cm-negative-dk);
    --cm-positive: var(--cm-positive-dk);
    --cm-meta: var(--cm-meta-dk);
    --cm-bulidin: var(--cm-bulidin-dk);
    --cm-bracket: var(--cm-bracket-dk);
    --cm-atom: var(--cm-atom-dk);
    --cm-number: var(--cm-atom-dk);
    --bg-color: var(--d-bc-dk);
    --side-bar-bg-color: var(--d-bc-dk);
    --text-color: var(--d-f-c-dk);
    --control-text-color: var(--d-f-c-dk);
    --control-text-hover-color: var(--d-f-c-dk);
    --window-border: 1px solid var(--pn-c-dk);
    --active-file-bg-color: var(--d-bc-dk);
    --active-file-text-color: var(--d-f-c-dk);
    --item-hover-bg-color: var(--pn-c-dk);
    --item-hover-text-color: var(--d-f-c-dk);
    --primary-color: #EAE6F0;
    --serch-select-bg-color: rgba(128, 100, 169, 0.5)
}