[data-theme-mode="dark"] {
    --v-color-scheme: dark;
    --v-invert-dark: var(--v-invert-dark-dk);
    --v-brightness-dk: var(--v-brightness-dark-dk);
    --d-bc: var(--d-bc-dk);
    --d-bc-tsp: var(--d-bc-tsp-dk);
    --d-bi: var(--d-bi-dk);
    --d-f-c: var(--d-f-c-dk);
    --d-f-c-alt: var(--d-f-c-alt-dk);
    --pn-c: var(--pn-c-dk);
    --pn-c-alt: var(--pn-c-alt-dk);
    --pn-c-tsp: var(--pn-c-tsp-dk);
    --blockquote-bg: var(--blockquote-bg-dk);
    --a-color: var(--a-color-dk);
    --mark-bg: var(--mark-bg-dk);
    --tbl-h-br: var(--tbl-h-br-dk);
    --tbl-bder: var(--tbl-bder-dk);
    --tbl-th-bg: var(--tbl-th-bg-dk);
    --tbl-td-bg: var(--tbl-td-bg-dk);
    --tbl-cell-bder: var(--tbl-cell-bder-dk);
    --tbl-row-g-alpha: var(--tbl-row-g-alpha-dk);
    --toc-h-num-color: var(--toc-h-num-color-dk);
    --h-f: var(--h-f-dk);
    --h-box-shadow: var(--h-box-shadow-dk);
    --h-bg-start: var(--h-bg-start-dk);
    --h-bg-end: var(--h-bg-end-dk);
    --code-bg: var(--code-bg-dk);
    --code-t: var(--code-t-dk);
    --std-code-shadow: var(--std-code-shadow-dk);
    --rb-code-shadow: var(--rb-code-shadow-dk);
    --c-blk-bg: var(--c-blk-bg-dk);
    --key-bg: var(--key-bg-dk);
    --key-reflect: var(--key-reflect-dk);
    --key-shadow: var(--key-shadow-dk);
    --ac-red: var(--ac-red-dk);
    --ac-red-alt: var(--ac-red-alt-dk);
    --ac-red-fade: var(--ac-red-fade-dk);
    --ac-red-title: var(--ac-red-title-dk);
    --ac-orange: var(--ac-orange-dk);
    --ac-orange-alt: var(--ac-orange-alt-dk);
    --ac-orange-fade: var(--ac-orange-fade-dk);
    --ac-orange-title: var(--ac-orange-title-dk);
    --ac-yellow: var(--ac-yellow-dk);
    --ac-yellow-alt: var(--ac-yellow-alt-dk);
    --ac-yellow-fade: var(--ac-yellow-fade-dk);
    --ac-yellow-title: var(--ac-yellow-title-dk);
    --ac-lime: var(--ac-lime-dk);
    --ac-lime-alt: var(--ac-lime-alt-dk);
    --ac-lime-fade: var(--ac-lime-fade-dk);
    --ac-lime-title: var(--ac-lime-title-dk);
    --ac-green: var(--ac-green-dk);
    --ac-green-alt: var(--ac-green-alt-dk);
    --ac-green-fade: var(--ac-green-fade-dk);
    --ac-green-title: var(--ac-green-title-dk);
    --ac-aqua: var(--ac-aqua-dk);
    --ac-aqua-alt: var(--ac-aqua-alt-dk);
    --ac-aqua-fade: var(--ac-aqua-fade-dk);
    --ac-aqua-title: var(--ac-aqua-title-dk);
    --ac-cyan: var(--ac-cyan-dk);
    --ac-cyan-alt: var(--ac-cyan-alt-dk);
    --ac-cyan-fade: var(--ac-cyan-fade-dk);
    --ac-cyan-title: var(--ac-cyan-title-dk);
    --ac-blue: var(--ac-blue-dk);
    --ac-blue-alt: var(--ac-blue-alt-dk);
    --ac-blue-fade: var(--ac-blue-fade-dk);
    --ac-blue-title: var(--ac-blue-title-dk);
    --ac-sea: var(--ac-sea-dk);
    --ac-sea-alt: var(--ac-sea-alt-dk);
    --ac-sea-fade: var(--ac-sea-fade-dk);
    --ac-sea-title: var(--ac-sea-title-dk);
    --ac-purple: var(--ac-purple-dk);
    --ac-purple-alt: var(--ac-purple-alt-dk);
    --ac-purple-fade: var(--ac-purple-fade-dk);
    --ac-purple-title: var(--ac-purple-title-dk);
    --ac-rose: var(--ac-rose-dk);
    --ac-rose-alt: var(--ac-rose-alt-dk);
    --ac-rose-fade: var(--ac-rose-fade-dk);
    --ac-rose-title: var(--ac-rose-title-dk);
    --ac-pink: var(--ac-pink-dk);
    --ac-pink-alt: var(--ac-pink-alt-dk);
    --ac-pink-fade: var(--ac-pink-fade-dk);
    --ac-pink-title: var(--ac-pink-title-dk);
    --ac-gold: var(--ac-gold-dk);
    --ac-gold-alt: var(--ac-gold-alt-dk);
    --ac-gold-fade: var(--ac-gold-fade-dk);
    --ac-gold-title: var(--ac-gold-title-dk);
    --ac-brown: var(--ac-brown-dk);
    --ac-brown-alt: var(--ac-brown-alt-dk);
    --ac-brown-fade: var(--ac-brown-fade-dk);
    --ac-brown-title: var(--ac-brown-title-dk);
    --ac-gray: var(--ac-gray-dk);
    --ac-gray-alt: var(--ac-gray-alt-dk);
    --ac-gray-fade: var(--ac-gray-fade-dk);
    --ac-gray-title: var(--ac-gray-title-dk);
    --ac-theme1: var(--ac-theme1-dk);
    --ac-theme1-alt: var(--ac-theme1-alt-dk);
    --ac-theme1-fade: var(--ac-theme1-fade-dk);
    --ac-theme1-title: var(--ac-theme1-title-dk);
    --ac-theme2: var(--ac-theme2-dk);
    --ac-theme2-alt: var(--ac-theme2-alt-dk);
    --ac-theme2-fade: var(--ac-theme2-fade-dk);
    --ac-theme2-title: var(--ac-theme2-title-dk);
    --cm-keyword: var(--cm-keyword-dk);
    --cm-variable: var(--cm-variable-dk);
    --cm-variable-2: var(--cm-variable-2-dk);
    --cm-variable-3: var(--cm-variable-3-dk);
    --cm-tag: var(--cm-tag-dk);
    --cm-attribute: var(--cm-attribute-dk);
    --cm-string: var(--cm-string-dk);
    --cm-string-2: var(--cm-string-2-dk);
    --cm-comment: var(--cm-comment-dk);
    --cm-header: var(--cm-header-dk);
    --cm-quote: var(--cm-quote-dk);
    --cm-hr: var(--cm-hr-dk);
    --cm-link: var(--cm-link-dk);
    --cm-negative: var(--cm-negative-dk);
    --cm-positive: var(--cm-positive-dk);
    --cm-meta: var(--cm-meta-dk);
    --cm-bulidin: var(--cm-bulidin-dk);
    --cm-bracket: var(--cm-bracket-dk);
    --cm-atom: var(--cm-atom-dk);
    --cm-number: var(--cm-atom-dk);
    --bg-color: var(--d-bc-dk);
    --side-bar-bg-color: var(--d-bc-dk);
    --text-color: var(--d-f-c-dk);
    --select-text-bg-color: rgba(128, 100, 169, 0.5);
    --control-text-color: var(--d-f-c-dk);
    --control-text-hover-color: var(--d-f-c-dk);
    --window-border: 1px solid var(--pn-c-dk);
    --active-file-bg-color: var(--d-bc-dk);
    --active-file-bder: var(--select-text-bg-color);
    --active-file-text-color: var(--d-f-c-dk);
    --item-hover-bg-color: var(--pn-c-dk);
    --item-hover-text-color: var(--d-f-c-dk);
    --primary-color: #EAE6F0;
    --rawblock-edit-panel-bd: var(--d-bc-dk);
    --search-select-bg-color: rgba(128, 100, 169, 0.5)
}