
.protyle-wysiwyg [custom-f~="card"]{
    padding: 0px 0px !important;
    margin:  0px 0px !important;
    background: linear-gradient(
            156deg
            , #9aff56 2%, #2bff2b 85%);
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgb(43 145 255 / 58%)
}

.protyle-wysiwyg [custom-f~="card"] > .li > .protyle-action{
    color: rgba(0, 255, 255,0.5) ;
    left: -10px;
    /* transform: transform(-100px,0px); */
}
.protyle-wysiwyg [custom-f~="card"] > .li > .protyle-action:hover{
    color: rgba(0, 255, 255) !important;
}

.protyle-wysiwyg [custom-f~="card"] > .li >.list{
    padding: 0px !important;
    margin: 0px !important;
    background: linear-gradient(
            156deg
            , #56c4ff 2%, #2b91ff 85%);
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0px 0px 8px 0px rgb(43 145 255 / 58%)
} 

.protyle-wysiwyg [custom-f~="card"]::before{
    color: #2b91ff !important;
    background-color: rgba(0, 255, 255,0.5) !important;
    float: left !important;

    padding: 0px 3px 0px 3px !important;
    height: 37px;
    border-radius: 5px;
    margin-right: 3px !important;
}

.protyle-wysiwyg [custom-f~="card"]:has(> [fold="1"]) .protyle-action{
    width: 13px;
}