span.hide{
    display: none;
}
.cw-chk-wrap {
    display: inline-block;
    width: 21px;
    /* width: 22px; */
    height: 15px;
    /* height: 22px; */
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(45deg) translate(2px,-2px);
    /* background-color: var(--theme-wz-title-color) !important; */
}

span.custom-codelabel-chk[custom-codelabel-chk-msg]:not(:empty)::after{
    content: attr(custom-codelabel-chk-msg);
    height: 15px;
    /* height: 22px; */
    margin: 0px !important;
    /* padding: 3px 4px !important; */
    background-color: var(--theme-wz-bgcolor) !important;
    color: var(--theme-wz-title-color) !important;
    /* transform: translate(-10px,0px) !important; */
}

.cw-chk-gaph-one {
    position: absolute;
    width: 3px;
    height: 9px;
    background-color: #ccc !important;
    left: 11px;
    top: 6px;
}

.cw-chk-gaph-two {
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: #ccc !important;
    left: 8px;
    top: 12px;
}

.cw-chk-tick .cw-chk-gaph-one,
.cw-chk-tick .cw-chk-gaph-two {
    background-color: #4caf50 !important;
    /* background-color: var(--theme-wz-bgcolor) !important; */
}

span.cw-chk-endsuffix  .cw-chk-tick .cw-chk-gaph-one,
span.cw-chk-endsuffix   .cw-chk-tick .cw-chk-gaph-two {
    /* background-color: #4caf50 !important; */
    background-color: var(--theme-wz-bgcolor) !important;
}

span.custom-codelabel-chk{
    padding-left: 0px !important;
    padding-right: 0px !important;
    background-color: var(--theme-wz-title-bgcolor) !important;
    /* border: 1px solid var(--theme-wz-bgcolor) !important; */
}

span.custom-codelabel-chk[custom-codelabel-chk-chk=" "]{
    border: 1px solid #ccc !important;
}

/* 当有颜色后缀的时候，也修改边框的颜色 */
span.custom-codelabel-chk[custom-codelabel-chk-endsuffix="!"]{
    border: 1px solid var(--theme-wz-bgcolor) !important;
}

span.custom-codelabel-chk[custom-codelabel-chk-chk="x"]{
    border: 1px solid var(--theme-wz-bgcolor) !important;
}


span.custom-codelabel-chk[custom-codelabel-chk-msg]:not(:empty)::after{
    content: attr(custom-codelabel-chk-msg);
    height: 22px;
    margin: 0px !important;
    padding: 3px 5px !important;
    color: var(--theme-wz-title-color) !important;
}

span.custom-codelabel-chk[custom-codelabel-chk-chk="x"][custom-codelabel-chk-msg]:not(:empty)::after{
    background-color: var(--theme-wz-bgcolor) !important;
    /* color: var(--theme-wz-title-color) !important; */
}

span.custom-codelabel-chk[custom-codelabel-chk-chk=" "][custom-codelabel-chk-msg]:not(:empty)::after{
    background-color: #ccc !important;
}

[custom-codelabel-chk-endsuffix='!'] .cw-chk-tick .cw-chk-gaph-one,
[custom-codelabel-chk-endsuffix='!'] .cw-chk-tick .cw-chk-gaph-two {
    background-color: var(--theme-wz-bgcolor) !important;
}