/* ---------------------------------  兼容性的配置 */


/* ------- 原本的 tag */
:root {
    /* 主色 */
    /* 主题色1-基础色*/
    --b3-theme-primary: var(--v-theme1);
    /*主题色1-基础色-亮点*/
    --b3-theme-primary-light: rgba(var(--v-theme1-rgb-value), 0.54);
    /*主题色1-基础色-更亮点*/
    --b3-theme-primary-lighter: rgba(var(--v-theme1-rgb-value), 0.38);
    /*主题色1-最亮*/
    --b3-theme-primary-lightest: rgba(var(--v-theme1-rgb-value), 0.12);

    /*主题色2-次要色*/
    --b3-theme-secondary: var(--v-theme2);

    /*编辑区-背景色*/
    --b3-theme-background: var(--v-theme-background);
    /*编辑区-周围的状态栏/左侧选中颜色-背景色*/
    --b3-theme-background-light: var(--v-theme-background-light);

    /*编辑区-左侧面板颜色-背景色*/
    --b3-theme-surface: var(--v-theme-surface);
    /*编辑区-左侧面板颜色-亮一些*/
    --b3-theme-surface-light: rgba(var(--v-theme2-rgb-value), .86);
    --b3-theme-surface-lighter: rgba(var(--v-theme2-rgb-value), .06);
    /* 警告类-背景颜色*/
    --b3-theme-error: var(--v-theme-error);

    /* 文字颜色 */

    /* 主题色1-基础色-字体色 */
    --b3-theme-on-primary: var(--v-theme1-color);
    /* 主题色2-次要色-字体色 */
    --b3-theme-on-secondary: var(--v-theme2-color);
    --b3-theme-on-surface-light: rgba(var(--v-theme2-rgb-value), 0);
    /* 编辑区-字体色 */
    --b3-theme-on-background: var(--v-theme-on-background);
    /* 编辑区-左侧面板颜色-字体色 */
    --b3-theme-on-surface: var(--v-theme-on-surface);

    /* 警告类-字体颜色*/
    --b3-theme-on-error: var(--v-theme-on-error);

    /* 字体 */
    /* ？常规字体 */
    --b3-font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", "Hiragino Sans GB", "Microsoft Yahei", sans-serif, "Apple Color Emoji", "Noto Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
    /* 代码块的字体 */
    --b3-font-family-code: var(--v-f-fm-code);
    /* 绘图的字体 */
    --b3-font-family-graph: mononoki;
    /* emoji的字体 */
    --b3-font-family-emoji: "Segoe UI Emoji", "Segoe UI Symbol", "Segoe UI", "Apple Color Emoji", "Twemoji Mozilla", "Noto Color Emoji", "Android Emoji";
    /* 数学公式字体 */
    --b3-font-family-math: KaTeX_Math;

    /* 顶部工具栏 */
    --b3-toolbar-background: var(--b3-theme-surface);
    --b3-toolbar-blur-background: #fcfcfc;
    --b3-toolbar-color: var(--b3-theme-on-surface);
    --b3-toolbar-hover: var(--b3-theme-background-light);
    --b3-toolbar-left-mac: 69px;

    /* 线条 */
    --b3-border-color: var(--v-border-color);

    /* 滚动条 */
    --b3-scroll-color: var(--v-scroll-color);

    /* 列表 */
    --b3-list-hover: var(--v-list-hover);
    --b3-list-icon-hover: rgba(var(--v-theme2-rgb-value), .1);

    /* 菜单 */
    --b3-menu-background: var(--v-menu-background);

    /* 提示 */
    --b3-tooltips-color: var(--v-tooltips-color);
    --b3-tooltips-background: var(--v-tooltips-background); /*NEW: */
    --b3-tooltips-shadow: var(--v-tooltips-shadow); /*NEW: */
 
    /* 遮罩 */
    --b3-mask-background: var(--v-mask-background);

    /* 卡片背景： 错误、警告、信息、成功 */
    --b3-card-error-color: rgb(97, 26, 21);
    --b3-card-error-background: rgb(253, 236, 234);
    --b3-card-warning-color: rgb(102, 60, 0);
    --b3-card-warning-background: rgb(255, 244, 229);
    --b3-card-info-color: rgb(13, 60, 97);
    --b3-card-info-background: rgb(232, 244, 253);
    --b3-card-success-color: rgb(30, 70, 32);
    --b3-card-success-background: rgb(237, 247, 237);

    /* 自定义文字：字体1-13；背景1-13 */
    /* --b3-font-color1: var(--b3-card-error-color);
        --b3-font-color2: var(--b3-card-warning-color);
        --b3-font-color3: var(--b3-card-info-color);
        --b3-font-color4: var(--b3-card-success-color);
        --b3-font-color5: var(--b3-theme-on-surface);
        --b3-font-color6: var(--b3-theme-primary);
        --b3-font-color7: var(--b3-theme-secondary);
        --b3-font-color8: var(--b3-theme-error); */

    /* 卡片背景 */
    --b3-card-error-color: rgb(97, 26, 21);
    --b3-card-error-background: #f5d1cf;
    --b3-card-warning-color: rgb(102, 60, 0);
    --b3-card-warning-background: #ffe8c8;
    --b3-card-info-color: rgb(13, 60, 97);
    --b3-card-info-background: #d6eaf9;
    --b3-card-success-color: rgb(30, 70, 32);
    --b3-card-success-background: #d7eed8;

    /* 自定义文字 */
    --b3-font-color1: #2ec7c9;
    --b3-font-color2: #b6a2de;
    --b3-font-color3: #5ab1ef;
    --b3-font-color4: #ffb980;
    --b3-font-color5: #d87a80;
    --b3-font-color6: #8d98b3;
    --b3-font-color7: #e5cf0d;
    --b3-font-color8: #97b552;
    --b3-font-color9: #95706d;
    --b3-font-color10: #dc69aa;
    --b3-font-color11: #07a2a4;
    --b3-font-color12: #9a7fd1;
    --b3-font-color13: #f5994e;

    /* --b3-font-background1: var(--b3-card-error-background);
        --b3-font-background2: var(--b3-card-warning-background);
        --b3-font-background3: var(--b3-card-info-background);
        --b3-font-background4: var(--b3-card-success-background);
        --b3-font-background5: var(--b3-theme-surface);
        --b3-font-background6: var(--b3-theme-primary-light);
        --b3-font-background7: rgba(217, 211, 215, 0.5);
        --b3-font-background8: rgba(255, 193, 153, 0.5); */
    --b3-font-background1: #2ec7c950;
    --b3-font-background2: #b6a2de50;
    --b3-font-background3: #5ab1ef50;
    --b3-font-background4: #ffb98050;
    --b3-font-background5: #d87a8050;
    --b3-font-background6: #8d98b350;
    --b3-font-background7: #e5cf0d50;
    --b3-font-background8: #97b55250;
    --b3-font-background9: #95706d50;
    --b3-font-background10: #dc69aa50;
    --b3-font-background11: #07a2a450;
    --b3-font-background12: #9a7fd150;
    --b3-font-background13: #f5994e50;

    /* 动画效果 */
    --b3-transition: all .15s cubic-bezier(0, 0, .2, 1) 0ms;
    --b3-width-transition: width .15s cubic-bezier(0, 0, .2, 1) 0ms;

    /* 下拉菜单 */
    --b3-select-background: url("data:image/svg+xml;utf8,<svg fill='rgba(95, 99, 104, .68)' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>") no-repeat right 2px center var(--b3-theme-background);

    /* 阴影 */
    --b3-point-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    --b3-dialog-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);

    /* diff */
    --b3-diff-add: #dfd;
    --b3-diff-add-surface: #97f295;
    --b3-diff-del: #fee8e9;
    --b3-diff-del-surface: #ffb6ba;

    /* 图表颜色 */
    --b3-graph-p-point: #076f7e;
    --b3-graph-heading-point: #660e7a;
    --b3-graph-math-point: #80FFA5;
    --b3-graph-code-point: #00DDFF;
    --b3-graph-table-point: #37A2FF;
    --b3-graph-list-point: #FF0087;
    --b3-graph-todo-point: #FFBF00;
    --b3-graph-olist-point: #b3005f;
    --b3-graph-listitem-point: #f65b00;
    --b3-graph-bq-point: #8d48e3;
    --b3-graph-super-point: #dd79ff;
    --b3-graph-doc-point: #202124;
    --b3-graph-tag-point: #dbf32f;
    --b3-graph-asset-point: #05c091;
    --b3-graph-line: #5f6368;
    --b3-graph-ref-line: #d23f31;
    --b3-graph-tag-line: #5f6b06;
    --b3-graph-tag-tag-line: #dbf32f;
    --b3-graph-asset-line: #037457;
    --b3-graph-hl-point: #f3a92f;
    --b3-graph-hl-line: #4285f4;

    /* 编辑器搜索颜色 */
    --b3-protyle-search-background: #ffe955;
    --b3-protyle-search-border-color: #f2e680;
    --b3-protyle-search-current-background: #a5d3fe;

    /* 代码片段背景 */
    --b3-protyle-code-background: var(--v-block-code-bg-color);
    --b3-protyle-code-linenumber-hl: #b9d1f4;

    /* 所见即所得行内元素颜色 */
    /* 加粗-字体颜色 */
    --b3-protyle-inline-strong-color: var(--v-block-strong-color);
    /* 斜体-字体颜色 */
    --b3-protyle-inline-em-color: var(--v-block-em-color);
    /* 删除线-字体颜色 */
    --b3-protyle-inline-s-color: var(--v-block-del-color);
    /* 链接-字体颜色 */
    --b3-protyle-inline-link-color: var(--v-block-link-color);
    /* 高亮-背景颜色 */
    --b3-protyle-inline-mark-background: var(--v-block-mark-bg-color);
    /* 高亮-字体颜色 */
    --b3-protyle-inline-mark-color: var(--v-block-mark-color);
    /* 标签-字体颜色 */
    --b3-protyle-inline-tag-color: var(--v-block-tag-color);
    /* 内容引用块-字体颜色 */
    --b3-protyle-inline-blockref-color: var(--v-block-blockref-color);
    --b3-protyle-inline-fileref-color: #21862e;

    /* PDF */
    --b3-pdf-selection: #d0e9c8;
    --b3-pdf-sidebar-width: 200px;
    --b3-pdf-offset: 0;
    --b3-pdf-background1: var(--b3-theme-error);
    --b3-pdf-background2: #f5822e;
    --b3-pdf-background3: var(--b3-theme-secondary);
    --b3-pdf-background4: #65b84d;
    --b3-pdf-background5: #f5539e;
    --b3-pdf-background6: var(--b3-theme-primary);
    --b3-pdf-background7: #944194;
    --b3-pdf-dark: #212224;

    /*状态栏*/
    --b3-dock-item-width: 36px;
    --b3-dock-item-padding: 5px;
    --b3-dock-item-margin: 7px 5px 7px 5px;
    --b3-dock-item-radius: 5px;

}


/* PDF */
.textLayer,
.pdf__resize {
    mix-blend-mode: darken;
}

/* https://github.com/siyuan-note/siyuan/issues/6440 */
.protyle-action--order:after {
    mix-blend-mode: multiply;
}

.b3-typography div.hljs,
.protyle-wysiwyg div.hljs {
    background-color: #f8f9fa;
}


/* 修复添加收缩内容的”高亮点“消失的问题 */
/* 收缩时候的状态 */
.protyle-wysiwyg div[fold="1"] .protyle-action::after {
    border-radius: 50%;
    background-color: var(--b3-theme-primary-light) !important;
}

.protyle-wysiwyg div[fold="1"]::before {
    width: 34px;
    border-radius: 50%;
    background-color: var(--b3-theme-primary-light) !important;
}

/* 滚动条 */
.protyle-scroll__bar .b3-slider {
    /* background: rgba(var(--v-theme2-rgb-value), .2); */
}

/* 重点标注 VIP 图标 */
#toolbarVIP {
    background-color: rgba(255, 217, 0, 0.603);
}
/* 给所有插件的菜单添加变色的底色 */
div[id^="plugin"] {
    background-color: rgba(255, 255, 255, 0.603);
}