
/* 显示 custom-f 的内容：当不是标题行的时候 */
.protyle-wysiwyg [data-node-id]:not([data-subtype^="h"])[custom-f]:not([custom-f~="bg"]):before{
    content: attr(custom-f);
    float: right;
    color: rgba(var(--v-theme2-rgb-value), 0.5);
    background-color: var(--b3-theme-primary-lightest);
    padding: 0px 3px 0px 3px !important;
    border-radius: 5px;
}

/* 显示 custom-f 的内容：当是标题行的时候 */
.protyle-wysiwyg [data-node-id][data-subtype^="h"][custom-f]:not([custom-f~="bg"])::after {
    content: attr(custom-f);
    float: right;
    color: rgba(var(--v-theme2-rgb-value), 0.5);
    background-color: var(--b3-theme-primary-lightest);
    padding: 0px 3px 0px 3px !important;
    border-radius: 5px;
}

