/* 其他窗口的处理 */


/* 解决标记和回滚页面，不出现标记和回滚按钮问题 */
/* 标记 */
[data-type="repoitem"] [data-type="genTag"]{
    color: var(--v-theme2) !important;
}

/* 回滚 */
[data-type="repoitem"] [data-type="rollback"]{
    color: yellow !important;
    background: var(--v-theme2);
}
/* 上传 */
[data-type="repoitem"] [data-type="uploadSnapshot"]{
    color: var(--v-theme2) !important;
}
/* 删除-本地 */
[data-type="repoitem"] [data-type="removeRepoTagSnapshot"]{
    color: red !important;
    
}
/* 删除-云端 */
[data-type="repoitem"] [data-type="removeCloudRepoTagSnapshot"]{
    color: red !important;
}
/* 删除 */
[data-type="repoitem"] [data-type="downloadSnapshot"]{
    color: yellow !important;
    background: var(--v-theme2);
}