:root{

    --ac-theme1: rgb(23, 227, 203);
    --ac-theme1-alt-dk: #17e3cb;
    --ac-theme1-fade-dk: rgba(23, 227, 203);
    --ac-theme2:rgb(214, 188, 253);
    --ac-theme2-alt-dk: #d6bcfd;
    --ac-theme2-fade-dk: rgba(214, 188, 253, 0.35);
    --ac-theme2-title-dk: var(--d-f-c-dk);

    /*主题色1*/
    --v-theme1: rgb(23, 227, 203);
    --v-theme1-rgb-value:23, 227, 203;
    --v-theme1-color:rgb(220, 215, 215);

    /*主题色2*/
    --v-theme2:rgb(214, 188, 253);
    --v-theme2-rgb-value:214, 188, 253;
    --v-theme2-color:rgb(220, 215, 215);

     /* 警告类-背景颜色*/
    --v-theme-error: #d23f31;

    /*编辑区*/
    --v-theme-background:#292c33;
    --v-theme-background-light:rgba(41, 44, 51,.25);
    /*编辑区/列表区*/
    --v-theme-on-background: var(--d-f-c);

    /*面板区*/
    --v-theme-surface: rgba(41, 44, 51,0.75);
    /*前缀/序号/tab文字*/
    --v-theme-on-surface: var(--d-f-c);

    /*线条*/
    --v-border-color: rgb(161, 162, 165);
    
    /* 滚动条 */
    --v-scroll-color: rgba(225, 219, 219, .2);

    /* 列表 */
    --v-list-hover: rgba(var(--v-theme2-rgb-value),0.65);

    /* 右键/cms菜单 */
    --v-menu-background: rgba(41, 44, 51,0.9);

    /* 提示 */
    --v-tooltips-color: rgba(var(--v-theme2-rgb-value), 0.6);

    /* 遮罩 */
    --v-mask-background: rgba(161, 162, 165, 0.78);

    /*链接颜色*/
    --v-block-link-color:var(--a-color);
    /*高亮/标记颜色*/
    --v-block-mark-color:var(--d-f-c);
    --v-block-mark-bg-color:var(--mark-bg);
    /*内容引用块颜色*/
    --v-block-blockref-color:var(--ac-theme1);

    /*标签颜色*/
    --v-block-tag-color:#5f6368;
    /*代码块颜色*/
    --v-block-code-bg-color:var(--code-bg);
    --v-black-code-font-family:var(--v-f-fm-code);
    --v-black-code-boder-color:var(--tbl-bder);

    /*删除块颜色  #6670a9 */
    --v-block-del-color: var(--d-f-c-alt);
    /*斜体颜色*/
    --v-block-em-color: var(--d-f-c);
    /*加粗颜色*/
    --v-block-strong-color: var(--d-f-c);

    /*键盘按键色*/
    --v-block-kbd-font:var(var(--v-f-w-bd) 0.75em var(--v-f-fm-key));
    --v-block-kbd-border-radius: var(--v-r-s-small);
    --v-block-kbd-color:var(--d-bc);
    --v-block-kbd-border-shadow:var(--key-shadow);
    --v-block-kbd-border-color: var(--key-reflect);

    /*引用块设置*/
    --v-block-bq-color: var(--d-f-c);
    --v-block-bq-bg-color: var(--ac-theme2-fade);
    --v-block-bq-border-radius: var(--v-r-b);

    /*h1~h6*/
    --v-block-heading-top-shadow:var(--h-box-shadow);
    --v-block-heading-color:var(--h-f);
    --v-block-heading-border-radius: var(--v-r-b);
    --v-block-heading-start-bg-color:var(--h-bg-start);
    --v-block-heading-end-bg-color:var(--h-bg-end);

    /*hr*/
    --v-block-hr-border-radius:  0px;

    /* ———————————————————— 列表2看板 ———————————————————— */

    --kbline-board-bg-color: #515459;             /* 主背景色 */
    --kbline-board-bg-color1: #515459;            /* 各个子项背景色 */
    --kbline-board-pa-color: #a1a2a5;             /* 列表项的点 */

    --kbline-theme-hover2: #cfc0c0fc;                 /*鼠标悬浮的背景色*/
    --kbline-theme-hover1: var(--d-f-c);              /*鼠标悬浮的前景色*/


    --kbline-border-normal: 1px solid #a1a2a5;      /* 边框的颜色 */
    --kbline-board-border-radius: var(--v-r-b);        /*圆角弧度*/
    --kbline-board-border-color: var(--ac-theme2);     /*边框颜色*/

   
    --kbline-board-title-svg-color: var(--d-f-c);        /*符号·的前景色*/
    --kbline-board-title-svg-bg:#c0e9fc;               /*符号·的背景色*/
    
    --kbline-board-title-bg:#292c33;                   /*标题的背景色*/
    --kbline-board-title-color:var(--d-f-c);             /*标题的前景色*/

    --kbline-board-item-color: var(--d-f-c);              /*看板卡片前景色*/
    --kbline-board-item-code-color:var(--d-f-c);

     /*调整下面参数，可能会产生一些渲染bug*/
    --kbline-bord-margin: 10px;                        /*看板列表-之间的间距*/
    --kbline-boarditem-margin-bottom: 5px;            /*看板卡片-之间的间距*/
    --kbline-boarditem-maxwidth:   25rem;              /*看板卡片的最大宽度*/
    --kbline-boarditem-minwidth: 14rem;                /*看板卡片的最小宽度*/
    --kbline-boarditem-minHight: 4.5rem;               /*看板卡片的最小高度*/

    /* ———————————————————— 列表2看板(end) ———————————————————— */

    /*———————————————————— 列表2表格————————————————————*/
    
    --b3-border-normal: 1px solid #ddd4df;
    
    /*———————————————————— 列表2表格(end)————————————————————*/
  
    /*———————————————————— 列表2导图————————————————————*/
  
    --mapline-p-bg-color:#515459;         /*文本框*/

    /*———————————————————— 列表2导图(end)————————————————————*/

}