
/* --------------- 标题 ---------------  */
.protyle-wysiwyg .h1, .protyle-wysiwyg .h2, .protyle-wysiwyg .h3, .protyle-wysiwyg .h4, .protyle-wysiwyg .h5, .protyle-wysiwyg .h6 {
    box-shadow: none;
    border-left: 0;
    border-right: 0;
}
.protyle-wysiwyg .h1, .protyle-wysiwyg .h2 {
    /* margin: 3em 0 0.5em; */
    margin: 1.3em 0 0.5em;
    /* font-size: 2em; */
    border-top: 9px solid var(--h-box-shadow);
    counter-reset: h2;
}
.protyle-wysiwyg .h1, .protyle-wysiwyg .h2, .protyle-wysiwyg .h3, .protyle-wysiwyg .h4, .protyle-wysiwyg .h5, .protyle-wysiwyg .h6 {
    color: var(--h-f);
    text-align: left;
    position: relative;
    padding: 10px;
    line-height: 1.5;
    /* font: var(--v-f-w-title) 0.5em var(--v-f-fm-h); */
    border-radius: var(--v-r-b);
    background: linear-gradient(0deg, var(--h-bg-start), var(--h-bg-end));
    letter-spacing: .15em;
}
.protyle-wysiwyg .h1, .protyle-wysiwyg .h2, .protyle-wysiwyg .h3, .protyle-wysiwyg .h4, .protyle-wysiwyg .h5, .protyle-wysiwyg .h6 {
    position: relative;
}
.protyle-wysiwyg .h1, .protyle-wysiwyg .h2, .protyle-wysiwyg .h3, .protyle-wysiwyg .h4, .protyle-wysiwyg .h5, .protyle-wysiwyg .h6, .protyle-wysiwyg .p {
    position: relative;
}
.protyle-wysiwyg .h1, .protyle-wysiwyg .h2, .protyle-wysiwyg .h3, .protyle-wysiwyg .h4, .protyle-wysiwyg .h5, .protyle-wysiwyg .h6, .protyle-wysiwyg .p, .protyle-wysiwyg pre {
    width: inherit;
}

.protyle-wysiwyg .h1, .h2, .h3, .h4, .h5, .h6 {
    page-break-after: avoid;
    break-after: avoid-page;
    page-break-inside: avoid;
    orphans: 4;
}

.protyle-wysiwyg .h1+.h2,
.protyle-wysiwyg .h2+.h3,
.protyle-wysiwyg .h3+.h4,
.protyle-wysiwyg .h4+.h5,
.protyle-wysiwyg .h6 {
    background: linear-gradient(-10, var(--h-bg-end), var(--h-bg-start), var(--h-bg-end));
    box-shadow: none;
    border-top: 0
}

/* --------------- 标题 end ---------------  */

