/* ----------------------------------------------------调整超级块的块间距------------------------------------------ */
/* ————————————————————————————————————大超级块，不用设置边框—————————————————————————————— */
.protyle-wysiwyg [data-node-id].sb[data-sb-layout="col"] {
    display: flex;
    flex-wrap: wrap;
}

/* —————————————————————————————————————次超级块大小—————————————————————————————————————— */
.protyle-wysiwyg [data-node-id].sb[data-sb-layout="col"] .sb {
    border: var(--b3-border-dashed-gray-wider);
    border-radius: var(--b3-border-radius-none);
    box-sizing: border-box;
    margin: 0.1em 0 0.1em 0.1em;
}

.protyle-wysiwyg [data-node-id].sb[data-sb-layout="col"] .sb:nth-last-child(2) {
    margin-right: 0.1em;
}

/* ——————————————————————————————————————每个子超级块—————————————————————————————————————— */
.protyle-wysiwyg [data-node-id].sb[data-sb-layout="col"]>div {
    border: 0.1em dashed rgba(128, 128, 128, 0.5);
    border-radius: var(--b3-border-radius-none);
    box-sizing: border-box;
    margin: 0.1em 0 0.1em 0.1em;
    /* background-color: var(--b3-theme-background); */
    /* background-color: var(--b3-theme-background); */
}

/* 最后一个子超级块不设置右边距 */
.protyle-wysiwyg [data-node-id].sb[data-sb-layout="col"]>div:nth-last-child(2) {
    margin-right: 0.1em;
}

/* 解决超级块分栏后的小尾巴问题 */
.sb .protyle-attr:last-child {
    border: none !important;
}


/* 鼠标悬浮时变色 */
/* .protyle-wysiwyg [data-node-id].sb[data-sb-layout="col"] .sb:hover,
.protyle-wysiwyg [data-node-id].sb[data-sb-layout="col"]>div:hover {
    border-color: var(--b3-theme-primary);
    border-style: solid;
} */

/* 取消显示超级块中的标题衬底 */
/* div.sb div.h1::after,
div.sb div.h2::after,
div.sb div.h3::after,
div.sb div.h4::after,
div.sb div.h5::after,
div.sb div.h6::after {
    display: none !important;
} */

/* 取消显示超级块中的自动编号 */
/* div.sb .h1>::before,
div.sb .h2>::before,
div.sb .h3>::before,
div.sb .h4>::before,
div.sb .h5>::before,
div.sb .h6>::before {
    display: none !important;
} */

/* ----------------------------------------------------调整超级块的块间距 END------------------------------------------ */