/* --------------- 删除线 ---------------  */

.protyle-wysiwyg span[data-type='s'],
div.item__readme  del{
    color: var(--v-block-del-color) !important;
    text-decoration: line-through solid !important;
}
/* --------------- 删除线 end ---------------  */

/* --------------- 键盘按键块 --------------- */
.protyle-wysiwyg span[data-type='kbd']
,div.item__readme  kbd {
    font: var(--v-block-kbd-font);
    border-radius: var(--v-block-kbd-border-radius);
    margin: 0;
    padding: 0 4px;
    color: var(--v-block-kbd-color);
    border: 2px solid var(--v-block-kbd-border-shadow);
    border-left-color: var(--v-block-kbd-border-color);
    border-top-color: var(--v-block-kbd-border-color);
    background: var(--key-bg);
    box-shadow: 0 0 0 1px var(--v-block-kbd-border-shadow);
}
/* --------------- 键盘按键 end--------------- */

/* --------------- 标签 --------------- */

/*背景*/
.protyle-wysiwyg [data-node-id] span[data-type='tag']:not(:empty) {
    position: relative;
    color: var(--v-tag-color);
    background-color: var(--v-tag-bgcolor);
    /* border-radius: var(--v-border-radius-half-round); */
    /* margin: 5px 3px 5px 8px; */
    margin: 0px 0px;
    padding: 1px 5px;
    border-radius:5px;
}

/* ————————————————————标签#号———————————————————— */
.protyle-wysiwyg [data-node-id] span[data-type='tag']:not(:empty)::before {
    content: "# "; /*★*/
    color: var(--v-tag-icon);
}
.protyle-wysiwyg [data-node-id] span[data-type='tag']:not(:empty)::after {
    content: " #"; /*★*/
    color: var(--v-tag-icon);
}


.protyle-wysiwyg [data-node-id] span[data-type='tag']:hover {
    filter: brightness(1.1);
    /* color: gray;
    background-color: var(--v-theme-background-gray); */
}

/* ————————————————————给头图上方的标签设置不一样的样式———————————————————— */
.protyle-background__tags .item {
    border-radius: var(--v-border-radius-half-round);
    margin: 5px 3px 5px 8px;
    cursor: pointer;
    font-size: 90%;
    padding: 3px 18px !important;
    line-height: 1.625;
    border: var(--v-border-dashed-gray);
}

.protyle-background__tags .item:before {
    content: "# ";
}
.protyle-background__tags .item:after {
    content: " #"; /*★*/
}

/* --------------- 标签 end --------------- */

/* 
 * 悬浮提示
 */

span[data-type='kbd']:hover,  
span[data-type='code']:hover,
div.item__readme code:not([data-render="true"]):hover
{
    filter: brightness(1.1)
}

/*挂件*/

.iframe,
.iframe-content,
.iframe-content iframe{
    height: 50em !important;
    min-height: 10em !important;
}