.protyle-wysiwyg .h1:last-child::after,
.protyle-wysiwyg>.h6:first-child::after {
    margin-left: 0;
    padding-bottom: 0;
    border: 0
}

.protyle-wysiwyg .h1:last-child:before,
.protyle-wysiwyg .h1:last-child::after,
.protyle-wysiwyg>.h6:first-child:before {
    content: "" !important;
}

.protyle-wysiwyg .h1:last-child,
.protyle-wysiwyg>.h6:first-child {

    display: block;
    color: var(--conver-font-color1) !important;
    font: var(--v-f-w-title) 2.5em/1.3 var(--v-f-fm-title) !important;
    text-align: var(--conver-text-align1);
    filter: var(--v-brightness-dk);
    height: var(--conver-height-1) !important;
    padding: var(--conver-padding-1) !important;
    margin: 0 0 3em;
    border: 0;
    border-radius: var(--v-r-b);
    box-shadow: var(--conver-box-shadow) !important;
    background-color: var(--conver-font-bg-color1);
    background-image: var(--conver-bg-image-1);
    background-size: var(--conver-background-size1);
    background-repeat: var(--conver-background-repeat1);
    background-position: var(--conver-background-position1);
    letter-spacing: 0; 
}


.protyle-wysiwyg .h1:last-child  div,
.protyle-wysiwyg>.h6:first-child div{
    font-size: 40px !important;
}

/*------------------------------ 封面 ------------------------------*/


.protyle-wysiwyg>.h6:first-child span[data-type~='sub'] {
    display: block;
    color: var(--conver-sub-color);
    font: var(--v-f-w-bd) 75% var(--v-f-fm-subtitle) !important;
    font-size: 75% !important;
}

.protyle-wysiwyg>.h6:first-child span[data-type~='sup'] {
    display: block;
    color: var(--conver-sup-color);
    font: var(--v-f-w-bd) 75% var(--v-f-fm-subtitle) !important;
}

.protyle-wysiwyg>.h6:first-child span[data-type='strong']{
    display: block;
}
.protyle-wysiwyg>.h6:first-child span[data-type='strong'],
.protyle-wysiwyg>.h6:first-child span[data-type='strong']::before {
    color: var(--conver-strong-color) !important;
    font: .625em var(--v-f-fm-subtitle) !important;
    margin-top: 0.5em;
    /* font-size: 75% !important; */
}

.protyle-wysiwyg>.h6:first-child span[data-type='strong']::before {
    content: "By ";
    opacity: .6;
    display: inline-block;
    margin-bottom: -1em;
    margin-top: 15px !important;
    /* font-size: 75% !important; */
}

.protyle-wysiwyg>.h6:first-child span[data-type='u']{
    display: block;
    /* 颜色透明度转化为 80% */
    color: var(--conver-sup-color) ;
    text-decoration: none;
    text-shadow: none;
    border: 0;
    font: var(--v-f-w-bd) .75em var(--v-f-fm-subtitle) !important;
    margin-top: -5px !important;
    /* font-size: 75% !important; */
}


.protyle-wysiwyg>.h6:first-child span[data-type~='em']{
    line-height: 1 !important;
    display: inline-block !important;
    color: var(--conver-em-color) !important;
    background: var(--conver-em-bg-color) !important;
    font-size: 45% !important;
}
.protyle-wysiwyg>.h6:first-child span[data-type~='code']:not([data-type~='em']){
    display: inline-block;
    color: var(--conver-code-color) !important;
    background: var(--conver-code-bg-color) !important;
}
.protyle-wysiwyg>.h6:first-child span[data-type~='em'][data-type~='code']{
    line-height: 1;
    display: inline-block;
    color: #fff !important;
    background: #232323 !important;
    font-size: 75% !important;
    border-radius: var(--v-r-b);
}

.protyle-wysiwyg>.h6:first-child span[data-type~='em'][data-type~='code'] + span[data-type~='em'],
.protyle-wysiwyg>.h6:first-child span[data-type~='em']:has(+ span[data-type~='em'][data-type~='code'])
{
    display: inline-block;
    line-height: 1;
    color: #fff !important;
    background: var(--a-o-c) !important;
    font-size: 75% !important;
} 
.protyle-wysiwyg>.h6:first-child span[data-type~='em']+span[data-type~='em'][data-type~='code']
{
    border-radius: 0 var(--v-r-b)   var(--v-r-b) 0;
}
.protyle-wysiwyg>.h6:first-child  span[data-type~='em'][data-type~='code']:has(+span[data-type~='em'])
{
    
    border-radius: 0 0   0 0;
}

/* 
.protyle-wysiwyg>.h6:first-child span[data-type~='em']:has( + span[data-type~='em'][data-type~='code']) ,
.protyle-wysiwyg>.h6:first-child span[data-type~='em'][data-type~='code'] + span[data-type~='em'] 
{
    line-height: 1;
    color: #fff !important;
    background: var(--a-o-c) !important;
    border-color: var(--d-bc) !important;
    font-size: 75% !important;
} 

.protyle-wysiwyg>.h6:first-child span[data-type~='em'][data-type~='code']:has(+ span[data-type~='em'])  
{
    color: #fff !important;
    background: #232323 !important;
}

.protyle-wysiwyg>.h6:first-child span[data-type~='em']+span[data-type~='em']span[data-type~='code'] {
    display: inline-block;
    font-size: 75% !important;
} */



/*------------------------------ 封面（end） ------------------------------*/



/*------------------------------ 封底 ------------------------------*/
.protyle-wysiwyg .h1:last-child {
    height: var(--conver-height-2) !important;
    margin-top: 3em;
    margin-bottom: 0;
    padding: var(--conver-padding-2);
    color: var(--conver-font-color2) !important;
    text-align: var(--conver-text-align2);
    background-color: var(--conver-font-bg-color2);
    background-image: var(--conver-bg-image-2);
    background-size: var(--conver-background-size2);
    background-repeat: var(--conver-background-repeat2);
    background-position: var(--conver-background-position2);
    letter-spacing: 0
}


.protyle-wysiwyg .h1:last-child  div{
    padding: var(--conver-padding-text-2);
}


/*------------------------------ 封底（end） ------------------------------*/


/* ------------------- 对大纲进行解析 -------------------*/

.b3-list-item[data-treetype="outline"][data-subtype="h6"]:first-child~.b3-list-item[data-treetype="outline"][data-subtype="h1"]:last-child .b3-list-item__text,
.b3-list-item[data-treetype="outline"][data-subtype="h6"]:first-child .b3-list-item__text {
    color: var(--d-f-c-alt);
    font-style: italic;
    /* display: inline-block!important; */
}

.b3-list-item[data-treetype="outline"][data-subtype="h6"]:first-child~.b3-list-item[data-treetype="outline"][data-subtype="h1"]:last-child code,
.b3-list-item[data-treetype="outline"][data-subtype="h6"]:first-child .b3-list-item__text span[data-type='code'] {
    color: inherit;
    background: 0 0;
    font-family: var(--v-f-fm-tag);
    font-size: 1em;
    font-weight: inherit;
    padding: 0;
    box-shadow: none;
    /* display: inline-block!important; */
    white-space: inherit
}

.b3-list-item[data-treetype="outline"][data-subtype="h6"]:first-child~.b3-list-item[data-treetype="outline"][data-subtype="h1"]:last-child svg,
.b3-list-item[data-treetype="outline"][data-subtype="h6"]:first-child svg {
    /* display:inline-block; */
}

.sy__outline .b3-list--background>.b3-list-item[data-treetype="outline"][data-subtype="h6"]:first-child .b3-list-item__text::before {
    content: "COVER ▸";
    padding-left: 4px;
    color: #2aa899;
    font-weight: var(--v-f-w-title);
    font-style: normal !important;
    /* display: inline-block !important; */
}

.b3-list-item[data-treetype="outline"][data-subtype="h6"]:first-child~.b3-list-item[data-treetype="outline"][data-subtype="h1"]:last-child .b3-list-item__text::after {
    content: "◂ BACK COVER";
    color: #2aa899;
    text-align: right;
    padding-right: 10px;
    line-height: 1.8;
    font-size: .875em;
    font-style: normal;
    /* display: inline !important; */
}

.b3-list-item[data-treetype="outline"][data-subtype="h6"]:first-child~.b3-list-item[data-treetype="outline"][data-subtype="h1"]:last-child .b3-list-item__text::before{
    content: "" !important;
}

/* ------------------- 对大纲进行解析（end） -------------------*/