
/*
 * Callout block style
 */
:root {
  /* --i-bq-collout-note: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='100' cy='50' r='40' stroke='black' stroke-width='2' fill='red'/%3E%3Cpolyline points='20,20 40,25 60,40 80,120 120,140 200,180' style='fill:none;stroke:black;stroke-width:3'/%3E%3C/svg%3E "); */
  --i-bq-collout-note: url("data:image/svg+xml,%3Csvg t='1724384619664' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='9495' width='18' height='18'%3E%3Cpath d='M974.72 224L798.08 47.36a52.928 52.928 0 0 0-75.52 0l-603.52 603.52c-6.4 6.4-10.88 14.72-13.44 23.04L35.84 924.16c-5.12 18.56 0 39.04 14.08 52.48 10.24 10.24 23.68 15.36 37.12 15.36 5.12 0 10.24-0.64 15.36-1.92l246.4-73.6c8.32-2.56 16-7.04 22.4-13.44l603.52-603.52c21.12-20.48 21.12-54.4 0-75.52z m-113.28 37.76l-34.56 34.56-101.12-101.12 34.56-34.56 101.12 101.12z m-517.76 518.4L242.56 678.4l407.68-407.68 101.12 101.12-407.68 408.32z m-155.52-5.12l60.16 60.16-83.84 24.96 23.68-85.12z' fill='%23ffffff' p-id='9496'%3E%3C/path%3E%3C/svg%3E");
  --v-bq-cloout-note-collapsible-bgcolor: #e6f0fc;
  --v-bq-cloout-note-color: #4892e6;

  --i-bq-collout-tip-color: url("data:image/svg+xml,%3Csvg t='1724385159078' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='18283' width='18' height='18'%3E%3Cpath d='M580.266667 115.2c8.533333 4.266667 17.066667 17.066667 17.066666 34.133333 0 42.666667 24.576 131.242667 85.333334 192l23.168 20.352C778.453333 426.666667 853.333333 508.970667 853.333333 640c0 166.4-153.6 298.666667-341.333333 298.666667-170.666667 0-341.333333-115.2-341.333333-341.333334 0-72.533333 25.6-170.666667 51.2-243.2 5.205333-14.72 19.925333-25.6 34.133333-25.6 18.602667 0 31.957333 12.714667 38.4 25.6l10.24 30.464c3.413333 9.941333 6.826667 19.626667 10.24 28.8L320 426.666667c15.36 40.917333 34.133333 64 64 85.333333-17.749333-57.856-17.493333-112.213333 0-170.666667 38.4-128 106.666667-192 157.866667-226.133333l8.533333-4.266667c8.533333-4.266667 21.333333 0 29.866667 4.266667z m-38.4 76.8a359.68 359.68 0 0 0-89.685334 148.053333l-4.181333 14.08c-16.554667 49.706667-13.226667 98.133333-4.266667 136.533334 8.533333 25.6 0 51.2-17.066666 68.266666-21.333333 17.066667-46.933333 21.333333-72.533334 8.533334-48.512-29.866667-70.954667-66.261333-87.210666-103.466667L260.266667 448c-17.066667 59.733333-25.6 110.933333-25.6 149.333333 0 192 145.066667 277.333333 277.333333 277.333334 153.6 0 277.333333-106.666667 277.333333-234.666667 0-85.333333-37.333333-138.666667-82.688-186.666667l-13.781333-14.250666-30.421333-30.293334C629.930667 376.448 597.930667 342.613333 576 298.666667a210.474667 210.474667 0 0 1-25.088-64.085334l-4.309333-19.968-4.736-22.613333z' p-id='18284' fill='%2300bfbc'%3E%3C/path%3E%3C/svg%3E");
  --i-bq-collout-tip: url("data:image/svg+xml,%3Csvg t='1724385159078' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='18283' width='18' height='18'%3E%3Cpath d='M580.266667 115.2c8.533333 4.266667 17.066667 17.066667 17.066666 34.133333 0 42.666667 24.576 131.242667 85.333334 192l23.168 20.352C778.453333 426.666667 853.333333 508.970667 853.333333 640c0 166.4-153.6 298.666667-341.333333 298.666667-170.666667 0-341.333333-115.2-341.333333-341.333334 0-72.533333 25.6-170.666667 51.2-243.2 5.205333-14.72 19.925333-25.6 34.133333-25.6 18.602667 0 31.957333 12.714667 38.4 25.6l10.24 30.464c3.413333 9.941333 6.826667 19.626667 10.24 28.8L320 426.666667c15.36 40.917333 34.133333 64 64 85.333333-17.749333-57.856-17.493333-112.213333 0-170.666667 38.4-128 106.666667-192 157.866667-226.133333l8.533333-4.266667c8.533333-4.266667 21.333333 0 29.866667 4.266667z m-38.4 76.8a359.68 359.68 0 0 0-89.685334 148.053333l-4.181333 14.08c-16.554667 49.706667-13.226667 98.133333-4.266667 136.533334 8.533333 25.6 0 51.2-17.066666 68.266666-21.333333 17.066667-46.933333 21.333333-72.533334 8.533334-48.512-29.866667-70.954667-66.261333-87.210666-103.466667L260.266667 448c-17.066667 59.733333-25.6 110.933333-25.6 149.333333 0 192 145.066667 277.333333 277.333333 277.333334 153.6 0 277.333333-106.666667 277.333333-234.666667 0-85.333333-37.333333-138.666667-82.688-186.666667l-13.781333-14.250666-30.421333-30.293334C629.930667 376.448 597.930667 342.613333 576 298.666667a210.474667 210.474667 0 0 1-25.088-64.085334l-4.309333-19.968-4.736-22.613333z' p-id='18284' fill='%23ffffff'%3E%3C/path%3E%3C/svg%3E");
  --v-bq-cloout-tip-collapsible-bgcolor: #e5f8f8;
  --v-bq-cloout-tip-color: #00bfbc;

  --i-bq-collout-abstract-color: url("data:image/svg+xml,%3Csvg t='1724508728650' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='13981' width='18' height='18'%3E%3Cpath d='M341.333333 394.666667a32 32 0 0 0 0 64v-64z m341.333334 64a32 32 0 0 0 0-64v64z m-341.333334 106.666666a32 32 0 0 0 0 64v-64z m341.333334 64a32 32 0 0 0 0-64v64z m-341.333334 106.666667a32 32 0 0 0 0 64v-64z m170.666667 64a32 32 0 0 0 0-64v64z m-170.666667-341.333333h341.333334v-64H341.333333v64z m0 170.666666h341.333334v-64H341.333333v64z m0 170.666667h170.666667v-64H341.333333v64z m85.333334-682.666667h170.666666v-64h-170.666666v64z m170.666666 106.666667h-170.666666v64h170.666666v-64z m-170.666666 0c-29.44 0-53.333333-23.893333-53.333334-53.333333h-64A117.333333 117.333333 0 0 0 426.666667 288v-64zM650.666667 170.666667c0 29.44-23.893333 53.333333-53.333334 53.333333v64A117.333333 117.333333 0 0 0 714.666667 170.666667h-64zM597.333333 117.333333c29.44 0 53.333333 23.893333 53.333334 53.333334h64A117.333333 117.333333 0 0 0 597.333333 53.333333v64z m-170.666666-64A117.333333 117.333333 0 0 0 309.333333 170.666667h64c0-29.44 23.893333-53.333333 53.333334-53.333334v-64zM864 341.333333v426.666667h64V341.333333h-64zM725.333333 906.666667H298.666667v64h426.666666v-64zM160 768V341.333333h-64v426.666667h64zM725.333333 138.666667h-42.666666v64h42.666666v-64zM298.666667 202.666667h42.666666v-64H298.666667v64zM160 341.333333A138.666667 138.666667 0 0 1 298.666667 202.666667v-64A202.666667 202.666667 0 0 0 96 341.333333h64zM298.666667 906.666667A138.666667 138.666667 0 0 1 160 768h-64A202.666667 202.666667 0 0 0 298.666667 970.666667v-64zM864 768A138.666667 138.666667 0 0 1 725.333333 906.666667v64A202.666667 202.666667 0 0 0 928 768h-64z m64-426.666667A202.666667 202.666667 0 0 0 725.333333 138.666667v64A138.666667 138.666667 0 0 1 864 341.333333h64z' p-id='13982' fill='%2300bfbc'%3E%3C/path%3E%3C/svg%3E");
  --i-bq-collout-abstract: url("data:image/svg+xml,%3Csvg t='1724508728650' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='13981' width='18' height='18'%3E%3Cpath d='M341.333333 394.666667a32 32 0 0 0 0 64v-64z m341.333334 64a32 32 0 0 0 0-64v64z m-341.333334 106.666666a32 32 0 0 0 0 64v-64z m341.333334 64a32 32 0 0 0 0-64v64z m-341.333334 106.666667a32 32 0 0 0 0 64v-64z m170.666667 64a32 32 0 0 0 0-64v64z m-170.666667-341.333333h341.333334v-64H341.333333v64z m0 170.666666h341.333334v-64H341.333333v64z m0 170.666667h170.666667v-64H341.333333v64z m85.333334-682.666667h170.666666v-64h-170.666666v64z m170.666666 106.666667h-170.666666v64h170.666666v-64z m-170.666666 0c-29.44 0-53.333333-23.893333-53.333334-53.333333h-64A117.333333 117.333333 0 0 0 426.666667 288v-64zM650.666667 170.666667c0 29.44-23.893333 53.333333-53.333334 53.333333v64A117.333333 117.333333 0 0 0 714.666667 170.666667h-64zM597.333333 117.333333c29.44 0 53.333333 23.893333 53.333334 53.333334h64A117.333333 117.333333 0 0 0 597.333333 53.333333v64z m-170.666666-64A117.333333 117.333333 0 0 0 309.333333 170.666667h64c0-29.44 23.893333-53.333333 53.333334-53.333334v-64zM864 341.333333v426.666667h64V341.333333h-64zM725.333333 906.666667H298.666667v64h426.666666v-64zM160 768V341.333333h-64v426.666667h64zM725.333333 138.666667h-42.666666v64h42.666666v-64zM298.666667 202.666667h42.666666v-64H298.666667v64zM160 341.333333A138.666667 138.666667 0 0 1 298.666667 202.666667v-64A202.666667 202.666667 0 0 0 96 341.333333h64zM298.666667 906.666667A138.666667 138.666667 0 0 1 160 768h-64A202.666667 202.666667 0 0 0 298.666667 970.666667v-64zM864 768A138.666667 138.666667 0 0 1 725.333333 906.666667v64A202.666667 202.666667 0 0 0 928 768h-64z m64-426.666667A202.666667 202.666667 0 0 0 725.333333 138.666667v64A138.666667 138.666667 0 0 1 864 341.333333h64z' p-id='13982' fill='%23ffffff'%3E%3C/path%3E%3C/svg%3E");
  --v-bq-cloout-abstract-collapsible-bgcolor: #090a0a;
  --v-bq-cloout-abstract-color: #00bfbc;

  --i-bq-collout-info-color: url("data:image/svg+xml,%3Csvg t='1724510286269' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='39044' width='18' height='18'%3E%3Cpath d='M512 1024A512 512 0 1 1 512 0a512 512 0 0 1 0 1024z m3.008-92.992a416 416 0 1 0 0-832 416 416 0 0 0 0 832zM448 448h128v384H448V448z m0-256h128v128H448V192z' fill='%23086ddd' p-id='39045'%3E%3C/path%3E%3C/svg%3E");
  --i-bq-collout-info: url("data:image/svg+xml,%3Csvg t='1724510286269' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='39044' width='18' height='18'%3E%3Cpath d='M512 1024A512 512 0 1 1 512 0a512 512 0 0 1 0 1024z m3.008-92.992a416 416 0 1 0 0-832 416 416 0 0 0 0 832zM448 448h128v384H448V448z m0-256h128v128H448V192z' fill='%23ffffff' p-id='39045'%3E%3C/path%3E%3C/svg%3E");
  --v-bq-cloout-info-collapsible-bgcolor: #e6f0fc;
  --v-bq-cloout-info-color: #086ddd;

  --i-bq-collout-todo-color: url("data:image/svg+xml,%3Csvg t='1724509333543' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='21338' width='18' height='18'%3E%3Cpath d='M512 128a384 384 0 1 0 0 768 384 384 0 0 0 0-768z m-316.8 67.2a448 448 0 1 1 633.6 633.6 448 448 0 0 1-633.6-633.6z m499.424 214.176a32 32 0 0 1 0 45.248l-192 192a32 32 0 0 1-45.248 0l-112-112a32 32 0 0 1 45.248-45.248L480 578.752l169.376-169.376a32 32 0 0 1 45.248 0z' fill='%23086ddd' p-id='21339'%3E%3C/path%3E%3C/svg%3E");
  --i-bq-collout-todo: url("data:image/svg+xml,%3Csvg t='1724509333543' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='21338' width='18' height='18'%3E%3Cpath d='M512 128a384 384 0 1 0 0 768 384 384 0 0 0 0-768z m-316.8 67.2a448 448 0 1 1 633.6 633.6 448 448 0 0 1-633.6-633.6z m499.424 214.176a32 32 0 0 1 0 45.248l-192 192a32 32 0 0 1-45.248 0l-112-112a32 32 0 0 1 45.248-45.248L480 578.752l169.376-169.376a32 32 0 0 1 45.248 0z' fill='%23ffffff' p-id='21339'%3E%3C/path%3E%3C/svg%3E");
  --v-bq-cloout-todo-collapsible-bgcolor: #e6f0fc;
  --v-bq-cloout-todo-color: #086ddd;

  --i-bq-collout-success-color: url("data:image/svg+xml,%3Csvg t='1724509386863' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='22459' width='18' height='18'%3E%3Cpath d='M122.2656 565.0432c-9.9328-9.9328-11.5712-25.3952-2.7648-36.4544l20.48-25.8048c8.3968-10.5472 24.064-13.2096 35.2256-5.8368l177.3568 118.3744c9.3184 6.2464 25.4976 5.4272 34.2016-1.6384L855.3472 233.472c10.5472-8.4992 27.0336-7.7824 36.2496 1.4336l11.5712 11.5712c10.0352 10.0352 9.3184 25.9072-1.2288 36.4544L398.9504 785.1008c-15.6672 15.6672-41.3696 14.9504-57.4464-1.1264L122.2656 565.0432z' fill='%2308b94e' p-id='22460'%3E%3C/path%3E%3C/svg%3E");
  --i-bq-collout-success: url("data:image/svg+xml,%3Csvg t='1724509386863' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='22459' width='18' height='18'%3E%3Cpath d='M122.2656 565.0432c-9.9328-9.9328-11.5712-25.3952-2.7648-36.4544l20.48-25.8048c8.3968-10.5472 24.064-13.2096 35.2256-5.8368l177.3568 118.3744c9.3184 6.2464 25.4976 5.4272 34.2016-1.6384L855.3472 233.472c10.5472-8.4992 27.0336-7.7824 36.2496 1.4336l11.5712 11.5712c10.0352 10.0352 9.3184 25.9072-1.2288 36.4544L398.9504 785.1008c-15.6672 15.6672-41.3696 14.9504-57.4464-1.1264L122.2656 565.0432z' fill='%23ffffff' p-id='22460'%3E%3C/path%3E%3C/svg%3E");
  --v-bq-cloout-success-collapsible-bgcolor: #e6f8ed;
  --v-bq-cloout-success-color: #08b94e;

  --i-bq-collout-question-color: url("data:image/svg+xml,%3Csvg t='1724509469914' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='23595' width='18' height='18'%3E%3Cpath d='M512 1024A512 512 0 1 1 512 0a512 512 0 0 1 0 1024z m3.008-92.992a416 416 0 1 0 0-832 416 416 0 0 0 0 832zM457.792 684.8h130.56v128.128h-130.56V684.8zM320 397.44c0.576-29.952 5.696-57.408 15.36-82.368 9.728-24.96 23.296-46.592 40.832-64.896a183.68 183.68 0 0 1 63.168-42.88A213.76 213.76 0 0 1 522.24 192c39.36 0 72.256 5.376 98.56 16.192 26.368 10.88 47.616 24.32 63.68 40.384s27.584 33.408 34.56 52.032c6.912 18.56 10.368 35.84 10.368 51.968 0 26.624-3.456 48.512-10.432 65.728a162.048 162.048 0 0 1-59.904 75.328c-12.48 8.576-24.256 17.152-35.328 25.792a165.44 165.44 0 0 0-29.504 29.504c-8.64 11.072-14.08 24.96-16.256 41.6v31.616H465.6v-37.44c1.664-23.872 6.208-43.84 13.696-59.904 7.552-16.064 16.256-29.824 26.24-41.152 9.984-11.392 20.48-21.248 31.616-29.568 11.072-8.32 21.376-16.64 30.784-24.96 9.408-8.32 17.024-17.472 22.848-27.456 5.888-9.984 8.512-22.464 7.936-37.44 0-25.536-6.208-44.352-18.752-56.576-12.48-12.16-29.76-18.304-51.968-18.304-14.976 0-27.84 2.88-38.656 8.704a77.184 77.184 0 0 0-26.688 23.296 101.12 101.12 0 0 0-15.36 34.176 169.408 169.408 0 0 0-4.992 41.984H320z' fill='%23ec7500' p-id='23596'%3E%3C/path%3E%3C/svg%3E");
  --i-bq-collout-question: url("data:image/svg+xml,%3Csvg t='1724509469914' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='23595' width='18' height='18'%3E%3Cpath d='M512 1024A512 512 0 1 1 512 0a512 512 0 0 1 0 1024z m3.008-92.992a416 416 0 1 0 0-832 416 416 0 0 0 0 832zM457.792 684.8h130.56v128.128h-130.56V684.8zM320 397.44c0.576-29.952 5.696-57.408 15.36-82.368 9.728-24.96 23.296-46.592 40.832-64.896a183.68 183.68 0 0 1 63.168-42.88A213.76 213.76 0 0 1 522.24 192c39.36 0 72.256 5.376 98.56 16.192 26.368 10.88 47.616 24.32 63.68 40.384s27.584 33.408 34.56 52.032c6.912 18.56 10.368 35.84 10.368 51.968 0 26.624-3.456 48.512-10.432 65.728a162.048 162.048 0 0 1-59.904 75.328c-12.48 8.576-24.256 17.152-35.328 25.792a165.44 165.44 0 0 0-29.504 29.504c-8.64 11.072-14.08 24.96-16.256 41.6v31.616H465.6v-37.44c1.664-23.872 6.208-43.84 13.696-59.904 7.552-16.064 16.256-29.824 26.24-41.152 9.984-11.392 20.48-21.248 31.616-29.568 11.072-8.32 21.376-16.64 30.784-24.96 9.408-8.32 17.024-17.472 22.848-27.456 5.888-9.984 8.512-22.464 7.936-37.44 0-25.536-6.208-44.352-18.752-56.576-12.48-12.16-29.76-18.304-51.968-18.304-14.976 0-27.84 2.88-38.656 8.704a77.184 77.184 0 0 0-26.688 23.296 101.12 101.12 0 0 0-15.36 34.176 169.408 169.408 0 0 0-4.992 41.984H320z' fill='%23ffffff' p-id='23596'%3E%3C/path%3E%3C/svg%3E");
  --v-bq-cloout-question-collapsible-bgcolor: #fdf1e5;
  --v-bq-cloout-question-color: #ec7500;

  --i-bq-collout-warning-color: url("data:image/svg+xml,%3Csvg t='1724509515991' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='24766' width='18' height='18'%3E%3Cpath d='M554.154667 77.226667a85.333333 85.333333 0 0 1 32.042666 32.021333l386.709334 680.597333A85.333333 85.333333 0 0 1 898.709333 917.333333H125.290667a85.333333 85.333333 0 0 1-74.197334-127.488L437.802667 109.248a85.333333 85.333333 0 0 1 116.352-32.042667zM512 151.381333L125.290667 832h773.418666L512 151.402667zM512 682.666667a42.666667 42.666667 0 1 1 0 85.333333 42.666667 42.666667 0 0 1 0-85.333333z m42.666667-277.333334l-10.346667 234.666667h-65.024L469.333333 405.333333h85.333334z' fill='%23ec7500' p-id='24767'%3E%3C/path%3E%3C/svg%3E");
  --i-bq-collout-warning: url("data:image/svg+xml,%3Csvg t='1724509515991' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='24766' width='18' height='18'%3E%3Cpath d='M554.154667 77.226667a85.333333 85.333333 0 0 1 32.042666 32.021333l386.709334 680.597333A85.333333 85.333333 0 0 1 898.709333 917.333333H125.290667a85.333333 85.333333 0 0 1-74.197334-127.488L437.802667 109.248a85.333333 85.333333 0 0 1 116.352-32.042667zM512 151.381333L125.290667 832h773.418666L512 151.402667zM512 682.666667a42.666667 42.666667 0 1 1 0 85.333333 42.666667 42.666667 0 0 1 0-85.333333z m42.666667-277.333334l-10.346667 234.666667h-65.024L469.333333 405.333333h85.333334z' fill='%23ffffff' p-id='24767'%3E%3C/path%3E%3C/svg%3E");
  --v-bq-cloout-warning-collapsible-bgcolor: #fdf1e5;
  --v-bq-cloout-warning-color: #ec7500;

  --i-bq-collout-failure-color: url("data:image/svg+xml,%3Csvg t='1724509589626' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='25891' width='18' height='18'%3E%3Cpath d='M770.993105 722.64295L557.433796 509.083641 764.546418 301.868692c13.098031-13.098031 13.098031-34.280004 0-47.275707-13.098031-13.098031-34.280004-13.098031-47.275707 0L510.055761 461.807934l-207.726591-207.828919c-13.098031-13.098031-34.280004-13.098031-47.275707 0-13.098031 13.098031-13.098031 34.280004 0 47.275707l207.828919 207.828919-209.773158 209.773159c-13.098031 13.098031-13.098031 34.280004 0 47.275707 6.549016 6.549016 15.144599 9.823524 23.637853 9.823524 8.595583 0 17.088838-3.274508 23.637854-9.823524l209.773158-209.773159 213.559309 213.559309c6.549016 6.549016 15.144599 9.823524 23.637853 9.823523s17.088838-3.274508 23.637854-9.823523c12.995703-12.995703 12.995703-34.177676 0-47.275707z' fill='%23e93147' p-id='25892'%3E%3C/path%3E%3C/svg%3E");
  --i-bq-collout-failure: url("data:image/svg+xml,%3Csvg t='1724509589626' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='25891' width='18' height='18'%3E%3Cpath d='M770.993105 722.64295L557.433796 509.083641 764.546418 301.868692c13.098031-13.098031 13.098031-34.280004 0-47.275707-13.098031-13.098031-34.280004-13.098031-47.275707 0L510.055761 461.807934l-207.726591-207.828919c-13.098031-13.098031-34.280004-13.098031-47.275707 0-13.098031 13.098031-13.098031 34.280004 0 47.275707l207.828919 207.828919-209.773158 209.773159c-13.098031 13.098031-13.098031 34.280004 0 47.275707 6.549016 6.549016 15.144599 9.823524 23.637853 9.823524 8.595583 0 17.088838-3.274508 23.637854-9.823524l209.773158-209.773159 213.559309 213.559309c6.549016 6.549016 15.144599 9.823524 23.637853 9.823523s17.088838-3.274508 23.637854-9.823523c12.995703-12.995703 12.995703-34.177676 0-47.275707z' fill='%23ffffff' p-id='25892'%3E%3C/path%3E%3C/svg%3E");
  --v-bq-cloout-failure-collapsible-bgcolor: #fdeaec;
  --v-bq-cloout-failure-color: #e93147;

  --i-bq-collout-danger-color: url("data:image/svg+xml,%3Csvg t='1724509661716' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='29469' width='18' height='18'%3E%3Cpath d='M595.36 64.704l0 0zM595.36 64.704l-72.192 379.392 261.568 0.864-356.064 514.304 72.224-417.376-261.568-0.928zM595.392 0.736c-1.728 0-3.456 0.064-5.152 0.192-11.296 0.896-18.784 4.704-27.648 10.656-4.928 3.264-9.44 7.296-13.408 11.936-1.184 1.376-2.272 2.816-3.296 4.288l-358.624 474.624c-14.144 19.424-16.256 45.024-5.376 66.432s32.832 34.976 56.928 35.168l184.736 1.344-58.08 342.208c-5.504 29.408 10.176 58.72 37.76 70.528 8.224 3.52 16.864 5.216 25.376 5.216 20.128 0 36.64-9.408 49.056-26.4l359.04-514.304c14.144-19.424 16.224-45.056 5.376-66.432-10.88-21.408-32.832-34.976-56.928-35.136l-184.736-0.32 57.472-300.864c1.216-4.832 1.824-9.856 1.824-15.04 0-34.624-27.552-62.848-62.048-63.968-0.768-0.032-1.504-0.032-2.272-0.032l0 0z' p-id='29470' fill='%23e93147'%3E%3C/path%3E%3C/svg%3E");
  --i-bq-collout-danger: url("data:image/svg+xml,%3Csvg t='1724509661716' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='29469' width='18' height='18'%3E%3Cpath d='M595.36 64.704l0 0zM595.36 64.704l-72.192 379.392 261.568 0.864-356.064 514.304 72.224-417.376-261.568-0.928zM595.392 0.736c-1.728 0-3.456 0.064-5.152 0.192-11.296 0.896-18.784 4.704-27.648 10.656-4.928 3.264-9.44 7.296-13.408 11.936-1.184 1.376-2.272 2.816-3.296 4.288l-358.624 474.624c-14.144 19.424-16.256 45.024-5.376 66.432s32.832 34.976 56.928 35.168l184.736 1.344-58.08 342.208c-5.504 29.408 10.176 58.72 37.76 70.528 8.224 3.52 16.864 5.216 25.376 5.216 20.128 0 36.64-9.408 49.056-26.4l359.04-514.304c14.144-19.424 16.224-45.056 5.376-66.432-10.88-21.408-32.832-34.976-56.928-35.136l-184.736-0.32 57.472-300.864c1.216-4.832 1.824-9.856 1.824-15.04 0-34.624-27.552-62.848-62.048-63.968-0.768-0.032-1.504-0.032-2.272-0.032l0 0z' p-id='29470' fill='%23ffffff'%3E%3C/path%3E%3C/svg%3E");
  --v-bq-cloout-danger-collapsible-bgcolor: #fdeaec;
  --v-bq-cloout-danger-color: #e93147;

  --i-bq-collout-bug-color: url("data:image/svg+xml,%3Csvg t='1724509754490' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='34067' width='18' height='18'%3E%3Cpath d='M343.008 104.992L296.96 151.04l62.016 61.984c-46.752 35.744-83.52 88.128-107.008 149.024l-78.016-39.04-28 58.016 88 44C228.16 452.992 224 481.984 224 512c0 10.88 0.256 21.376 0.992 32H128v64h108c7.744 33.376 18.016 65.28 32.992 94.016l-96 72 38.016 52 93.984-70.016C356.736 821.76 429.376 864 512 864c82.624 0 155.264-42.24 207.008-108l93.984 70.016 38.016-52-96-72c14.976-28.768 25.248-60.64 32.992-94.016H896v-64h-96.992A451.2 451.2 0 0 0 800 512c0-30.016-4.128-59.008-10.016-87.008l88-44-28-57.984-77.984 39.008c-23.488-60.896-60.256-113.28-107.008-149.024L727.04 151.04 680.96 104.96 607.04 179.008A242.304 242.304 0 0 0 512 160a242.304 242.304 0 0 0-95.008 19.008zM512 224c63.264 0 122.496 35.008 164 92C639.744 332.384 582.368 352 512 352c-70.4 0-127.744-19.616-164-36C389.504 259.008 448.736 224 512 224z m-195.008 147.008A468.864 468.864 0 0 0 480 414.016v382.976C374.4 776.992 288 660.16 288 512c0-51.744 10.752-99.616 28.992-140.992z m390.016 0c18.24 41.376 28.992 89.248 28.992 140.992 0 148.128-86.4 264.992-192 284.992V414.016c69.504-5.28 126.112-25.632 163.008-43.008z' p-id='34068' fill='%23e93147'%3E%3C/path%3E%3C/svg%3E");
  --i-bq-collout-bug: url("data:image/svg+xml,%3Csvg t='1724509754490' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='34067' width='18' height='18'%3E%3Cpath d='M343.008 104.992L296.96 151.04l62.016 61.984c-46.752 35.744-83.52 88.128-107.008 149.024l-78.016-39.04-28 58.016 88 44C228.16 452.992 224 481.984 224 512c0 10.88 0.256 21.376 0.992 32H128v64h108c7.744 33.376 18.016 65.28 32.992 94.016l-96 72 38.016 52 93.984-70.016C356.736 821.76 429.376 864 512 864c82.624 0 155.264-42.24 207.008-108l93.984 70.016 38.016-52-96-72c14.976-28.768 25.248-60.64 32.992-94.016H896v-64h-96.992A451.2 451.2 0 0 0 800 512c0-30.016-4.128-59.008-10.016-87.008l88-44-28-57.984-77.984 39.008c-23.488-60.896-60.256-113.28-107.008-149.024L727.04 151.04 680.96 104.96 607.04 179.008A242.304 242.304 0 0 0 512 160a242.304 242.304 0 0 0-95.008 19.008zM512 224c63.264 0 122.496 35.008 164 92C639.744 332.384 582.368 352 512 352c-70.4 0-127.744-19.616-164-36C389.504 259.008 448.736 224 512 224z m-195.008 147.008A468.864 468.864 0 0 0 480 414.016v382.976C374.4 776.992 288 660.16 288 512c0-51.744 10.752-99.616 28.992-140.992z m390.016 0c18.24 41.376 28.992 89.248 28.992 140.992 0 148.128-86.4 264.992-192 284.992V414.016c69.504-5.28 126.112-25.632 163.008-43.008z' p-id='34068' fill='%23ffffff'%3E%3C/path%3E%3C/svg%3E");
  --v-bq-cloout-bug-collapsible-bgcolor: #fdeaec;
  --v-bq-cloout-bug-color: #e93147;

  --i-bq-collout-example-color: url("data:image/svg+xml,%3Csvg t='1724509817856' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='36878' width='18' height='18'%3E%3Cpath d='M332.3904 813.4656h545.1776c17.8176 0 31.3344-13.312 31.3344-31.3344s-13.312-31.3344-31.3344-31.3344H332.3904c-17.8176 0-31.3344 13.312-31.3344 31.3344 0 13.312 13.5168 31.3344 31.3344 31.3344z m0-268.288h545.1776c22.3232 0 35.84-13.312 35.84-31.3344s-13.312-31.3344-31.3344-31.3344H332.3904c-17.8176-4.5056-31.3344 9.0112-31.3344 31.3344 0 18.0224 13.5168 31.3344 31.3344 31.3344z m0-263.5776h545.1776c22.3232 0 35.84-17.8176 35.84-35.84 0-17.8176-13.312-31.3344-31.3344-31.3344H332.3904c-17.8176 0-31.3344 13.312-31.3344 31.3344 0 17.8176 13.5168 35.84 31.3344 35.84zM158.1056 826.7776c26.8288 0 49.152-22.3232 49.152-49.152s-22.3232-49.152-49.152-49.152-49.152 22.3232-49.152 49.152 22.3232 49.152 49.152 49.152z m49.152-312.9344c0-26.8288-22.3232-49.152-49.152-49.152-26.8288-4.5056-49.152 17.8176-49.152 49.152 0 26.8288 22.3232 49.152 49.152 49.152s49.152-22.3232 49.152-49.152zM158.1056 294.912c26.8288 0 49.152-22.3232 49.152-49.152s-22.3232-49.152-49.152-49.152-49.152 22.3232-49.152 49.152 22.3232 49.152 49.152 49.152z m0 0' p-id='36879' fill='%237852ee'%3E%3C/path%3E%3C/svg%3E");
  --i-bq-collout-example: url("data:image/svg+xml,%3Csvg t='1724509817856' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='36878' width='18' height='18'%3E%3Cpath d='M332.3904 813.4656h545.1776c17.8176 0 31.3344-13.312 31.3344-31.3344s-13.312-31.3344-31.3344-31.3344H332.3904c-17.8176 0-31.3344 13.312-31.3344 31.3344 0 13.312 13.5168 31.3344 31.3344 31.3344z m0-268.288h545.1776c22.3232 0 35.84-13.312 35.84-31.3344s-13.312-31.3344-31.3344-31.3344H332.3904c-17.8176-4.5056-31.3344 9.0112-31.3344 31.3344 0 18.0224 13.5168 31.3344 31.3344 31.3344z m0-263.5776h545.1776c22.3232 0 35.84-17.8176 35.84-35.84 0-17.8176-13.312-31.3344-31.3344-31.3344H332.3904c-17.8176 0-31.3344 13.312-31.3344 31.3344 0 17.8176 13.5168 35.84 31.3344 35.84zM158.1056 826.7776c26.8288 0 49.152-22.3232 49.152-49.152s-22.3232-49.152-49.152-49.152-49.152 22.3232-49.152 49.152 22.3232 49.152 49.152 49.152z m49.152-312.9344c0-26.8288-22.3232-49.152-49.152-49.152-26.8288-4.5056-49.152 17.8176-49.152 49.152 0 26.8288 22.3232 49.152 49.152 49.152s49.152-22.3232 49.152-49.152zM158.1056 294.912c26.8288 0 49.152-22.3232 49.152-49.152s-22.3232-49.152-49.152-49.152-49.152 22.3232-49.152 49.152 22.3232 49.152 49.152 49.152z m0 0' p-id='36879' fill='%23ffffff'%3E%3C/path%3E%3C/svg%3E");
  --v-bq-cloout-example-collapsible-bgcolor: #f1edfd;
  --v-bq-cloout-example-color: #7852ee;

  --i-bq-collout-quote-color: url("data:image/svg+xml,%3Csvg t='1724509863947' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='37956' width='18' height='18'%3E%3Cpath d='M128 170.666667h298.666667a42.666667 42.666667 0 0 1 42.368 37.674666L469.333333 213.333333v341.333334a42.666667 42.666667 0 0 1-0.981333 9.088l-1.194667 4.394666-85.333333 256a42.666667 42.666667 0 0 1-35.541333 28.885334L341.333333 853.333333H170.666667a42.666667 42.666667 0 0 1-41.813334-51.285333l1.322667-4.864L196.821333 597.333333H128a42.666667 42.666667 0 0 1-42.368-37.674666L85.333333 554.666667V213.333333a42.666667 42.666667 0 0 1 37.674667-42.368L128 170.666667h298.666667-298.666667z m469.333333 0h298.666667a42.666667 42.666667 0 0 1 42.368 37.674666L938.666667 213.333333v341.333334a42.666667 42.666667 0 0 1-0.981334 9.088l-1.194666 4.394666-85.333334 256a42.666667 42.666667 0 0 1-35.541333 28.885334L810.666667 853.333333h-170.666667a42.666667 42.666667 0 0 1-41.813333-51.285333l1.322666-4.864L666.154667 597.333333H597.333333a42.666667 42.666667 0 0 1-42.368-37.674666L554.666667 554.666667V213.333333a42.666667 42.666667 0 0 1 37.674666-42.368L597.333333 170.666667h298.666667-298.666667zM384 256H170.666667v256h85.333333a42.666667 42.666667 0 0 1 41.813333 51.285333l-1.322666 4.864L229.845333 768H310.613333L384 547.754667V256z m469.333333 0h-213.333333v256h85.333333a42.666667 42.666667 0 0 1 41.813334 51.285333l-1.322667 4.864L699.178667 768h80.725333L853.333333 547.754667V256z' p-id='37957' fill='%239f9f9f'%3E%3C/path%3E%3C/svg%3E");
  --i-bq-collout-quote: url("data:image/svg+xml,%3Csvg t='1724509863947' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='37956' width='18' height='18'%3E%3Cpath d='M128 170.666667h298.666667a42.666667 42.666667 0 0 1 42.368 37.674666L469.333333 213.333333v341.333334a42.666667 42.666667 0 0 1-0.981333 9.088l-1.194667 4.394666-85.333333 256a42.666667 42.666667 0 0 1-35.541333 28.885334L341.333333 853.333333H170.666667a42.666667 42.666667 0 0 1-41.813334-51.285333l1.322667-4.864L196.821333 597.333333H128a42.666667 42.666667 0 0 1-42.368-37.674666L85.333333 554.666667V213.333333a42.666667 42.666667 0 0 1 37.674667-42.368L128 170.666667h298.666667-298.666667z m469.333333 0h298.666667a42.666667 42.666667 0 0 1 42.368 37.674666L938.666667 213.333333v341.333334a42.666667 42.666667 0 0 1-0.981334 9.088l-1.194666 4.394666-85.333334 256a42.666667 42.666667 0 0 1-35.541333 28.885334L810.666667 853.333333h-170.666667a42.666667 42.666667 0 0 1-41.813333-51.285333l1.322666-4.864L666.154667 597.333333H597.333333a42.666667 42.666667 0 0 1-42.368-37.674666L554.666667 554.666667V213.333333a42.666667 42.666667 0 0 1 37.674666-42.368L597.333333 170.666667h298.666667-298.666667zM384 256H170.666667v256h85.333333a42.666667 42.666667 0 0 1 41.813333 51.285333l-1.322666 4.864L229.845333 768H310.613333L384 547.754667V256z m469.333333 0h-213.333333v256h85.333333a42.666667 42.666667 0 0 1 41.813334 51.285333l-1.322667 4.864L699.178667 768h80.725333L853.333333 547.754667V256z' p-id='37957' fill='%23ffffff'%3E%3C/path%3E%3C/svg%3E");
  --v-bq-cloout-quote-collapsible-bgcolor: #f5f5f5;
  --v-bq-cloout-quote-color: #9f9f9f;

  --i-bq-callout-important:url("data:image/svg+xml;charset=UTF-8,%3Csvg t='1737550669830' class='icon' viewBox='0 0 1108 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='32309' width='18' height='18'%3E%3Cpath d='M876.598425 0l-796.976378 0c-43.84252 0-79.622047 35.779528-79.622047 79.874016l0 530.141732c0 44.094488 35.779528 79.622047 79.622047 79.622047L203.338583 689.637795l0 188.976378 0 0 165.543307-188.976378 507.716535 0c41.574803 0 75.84252-32 79.370079-72.566929l0-544.251969C952.440945 32 918.173228 0 876.598425 0L876.598425 0zM507.212598 510.488189 507.212598 510.488189 448.755906 510.488189 448.755906 266.582677l58.456693 0L507.212598 510.488189 507.212598 510.488189zM507.212598 202.834646 507.212598 202.834646 448.755906 202.834646 448.755906 126.23622l58.456693 0L507.212598 202.834646 507.212598 202.834646zM915.401575 609.511811 915.401575 609.511811c0 22.173228-18.141732 40.566929-40.566929 40.566929L347.464567 650.07874 242.897638 762.204724 242.897638 650.07874l-162.519685 0c-22.425197 0-40.818898-18.141732-40.818898-40.566929L39.559055 79.370079c0-22.425197 18.141732-40.818898 40.818898-40.818898l794.456693 0c22.425197 0 40.566929 18.141732 40.566929 40.818898L915.401575 609.511811z' p-id='32310' fill='%23ffffff'%3E%3C/path%3E%3C/svg%3E");
  --i-bq-callout-caution:url("data:image/svg+xml;charset=UTF-8,%3Csvg t='1737550970782' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='46665' width='18' height='18'%3E%3Cpath d='M995.4304 285.7984L738.2016 28.5696c-11.776-11.776-27.648-18.3296-44.4416-18.3296H330.1376c-16.5888 0-32.6656 6.5536-44.3392 18.3296L28.672 285.7984c-11.8784 11.776-18.432 27.648-18.432 44.3392v363.7248c0 16.5888 6.5536 32.6656 18.3296 44.3392L285.696 995.4304c11.776 11.776 27.7504 18.3296 44.4416 18.3296h363.7248c16.5888 0 32.6656-6.5536 44.3392-18.3296L995.328 738.2016c11.776-11.776 18.3296-27.5456 18.3296-44.3392V330.1376c0.1024-16.5888-6.4512-32.5632-18.2272-44.3392z m-44.3392 407.9616L693.76 951.0912H330.1376L72.9088 693.76V330.1376L330.1376 72.9088h363.7248l257.1264 257.2288v363.6224h0.1024z' fill='%23ffffff' p-id='46666'%3E%3C/path%3E%3Cpath d='M512 198.3488c-34.6112 0-62.6688 28.0576-62.6688 62.6688v313.5488c0 34.6112 28.0576 62.6688 62.6688 62.6688 34.6112 0 62.6688-28.0576 62.6688-62.6688V261.12c0.1024-34.6112-28.0576-62.7712-62.6688-62.7712z' fill='%23ffffff' p-id='46667'%3E%3C/path%3E%3Cpath d='M512 762.88m-62.6688 0a62.6688 62.6688 0 1 0 125.3376 0 62.6688 62.6688 0 1 0-125.3376 0Z' fill='%23ffffff' p-id='46668'%3E%3C/path%3E%3C/svg%3E");
}

/* 引述块-粗体或者高亮 作为小标题 */
.bq
  > .p:first-child
  > div:first-child
  > :is([data-type="strong"], [data-type="mark"]):only-child {
  font-size: 1.125em;
  text-align: center;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  padding: 0 0 0.5em;
  margin-bottom: 0.35em;
  border-bottom: 1px solid var(--ac-bk) !important;
  display: flex;
}

/* 引述块-6号标题作为折叠标识 */
.bq > .h6:first-child {
  text-align: center;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  border-bottom: 1px solid var(--ac-bk) !important;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.bq > .h6:first-child::before {
  content: "" !important;
  background-color: var(--d-fc);
  mask: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOSAwYTkgOSAwIDEgMSAwIDE4QTkgOSAwIDAgMSA5IDB6bTEgM0g4djVIM3YyaDV2NWgydi01aDVWOGgtNVYzeiIvPjwvc3ZnPg==)
    no-repeat center;

  border-radius: 0;
  width: 20px;
  height: 20px;
  font-size: 1.2em;

  transition: all var(--v-trans-dur) ease-out;
  opacity: 1;
}
.bq > [data-node-id][fold="1"].h6:first-child::before {
  content: "" !important;
  background-color: var(--d-fc);
  mask: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOSAwYTkgOSAwIDEgMSAwIDE4QTkgOSAwIDAgMSA5IDB6bTEgM0g4djVIM3YyaDV2NWgydi01aDVWOGgtNVYzeiIvPjwvc3ZnPg==)
    no-repeat center;

  border-radius: 0;
  width: 20px;
  height: 20px;
  font-size: 1.2em;

  opacity: 1;

  position: relative;
  display: inline-block;
  overflow: visible;
  margin-right: 5px;
}

/* 设置 github style*/
.bq[custom-bqstyle]:not([custom-bqstyle=""]) {
  border-radius: var(--v-r-b);
  padding: 0.5em;
  background: linear-gradient(
    180deg,
    var(--ac-bu) 2.5em,
    var(--ac-bu-a) 2.5em,
    var(--ac-bu-fade)
  );
  border: 2px solid var(--ac-bu-lg);
  /* 上 右 下 左 */
  padding: 0.1em 0.75em 0.75em;
}
.bq[custom-bqstyle]:not([custom-bqstyle=""]) > .p:first-child {
  color: #fff;
  margin-bottom: 1em;
  margin-top: 0;
  word-break: normal;
  word-wrap: break-word;
}

/* 折叠状态：隐藏除第一行外的所有内容 */
.bq[custom-bqstyle]:not([custom-bqstyle=""])[fold="1"]
  > *:not(:first-child),
.bq[custom-bqstyle]:not([custom-bqstyle=""])[fold="1"]
  > *:not(:first-child)
  * {
  max-height: 0px;
  line-height: 0px;
  font-size: 0px;
  padding: 0px;
  margin: 0px;
  color: transparent;
  background-color: transparent;
}
.bq[custom-bqstyle]:not([custom-bqstyle=""])[fold="1"]
  > *:not(:first-child)
  * {
  display: none;
}
.bq[custom-bqstyle]:not([custom-bqstyle=""])[fold="1"] {
  /* 上 右 下 左 */
  padding: 0.1em 0.75em 0.1em 0.75em !important;
}
.bq[custom-bqstyle]:not([custom-bqstyle=""])[fold="1"]
  > .p:first-child {
  margin-bottom: 0px !important;
}

/* VLOOK 中的引用块 */
/* 第一个段落: 前面的小图标 */
/*  .bq[custom-bq-callout-type] > div[data-node-id]:first-child > div[contenteditable='true']:before  */
/*
   position: absolute;
   top: 50%;
   left: -4px;
   margin-top: 5px;
   transform: translate(-50%, -50%);
*/
.bq[custom-bqstyle]:not([custom-bqstyle=""])
  > .p:first-child
  > div[contenteditable="true"]:before {
  content: var(--i-bq-collout-note);
  padding-right: 3px !important;
  /* padding: 60px 5px 5px 5px !important; */
}

/* 第一个段落: 后面的小箭头(展开状态) - 当没有 fold="1" 时 */
.bq[custom-bqstyle]:not([custom-bqstyle=""]):not([fold="1"])
  > .p:first-child
  > div[contenteditable="true"]:after {
  /* content: '\2212'; */
  /* content: '\2304';下箭头  U+2304 */
  content: "\2228"; /* 逻辑与 V */
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

/* 第一个段落: 后面的小箭头(收缩状态) - 当有 fold="1" 时 */
.bq[custom-bqstyle]:not([custom-bqstyle=""])[fold="1"]
  > .p:first-child
  > div[contenteditable="true"]:after {
  content: "\003E"; /*大于符号 U+230 */
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

/* 适配 Github 的引用块 */
.bq[custom-bqstyle][custom-bqstyle~="NOTE" i] {
  border: 2px solid var(--ac-bu-lg) !important;
  background: linear-gradient(
    180deg,
    var(--ac-bu) 2.5em,
    var(--ac-bu-a) 2.5em,
    var(--ac-bu-fade)
  ) !important;
}

.bq[custom-bqstyle][custom-bqstyle~="NOTE" i]
  > .p:first-child
  > div[contenteditable="true"]:before {
  content: var(--i-bq-collout-note);
}

.bq[custom-bqstyle][custom-bqstyle~="TIP" i] {
  border: 2px solid var(--ac-gn-lg) !important;
  background: linear-gradient(
    180deg,
    var(--ac-gn) 2.5em,
    var(--ac-gn-a) 2.5em,
    var(--ac-gn-fade)
  ) !important;
}
.bq[custom-bqstyle][custom-bqstyle~="TIP" i]
  > .p:first-child
  > div[contenteditable="true"]:before {
  content: var(--i-bq-collout-tip);
}

.bq[custom-bqstyle][custom-bqstyle~="WARNING" i] {
  border: 2px solid var(--ac-bn-lg) !important;
  background: linear-gradient(
    180deg,
    var(--ac-bn) 2.5em,
    var(--ac-bn-a) 2.5em,
    var(--ac-bn-fade)
  ) !important;
}
.bq[custom-bqstyle][custom-bqstyle~="WARNING" i]
  > .p:first-child
  > div[contenteditable="true"]:before {
  content: var(--i-bq-collout-warning);
}

.bq[custom-bqstyle][custom-bqstyle~="IMPORTANT" i] {
  border: 2px solid var(--ac-pu-lg) !important;
  background: linear-gradient(
    180deg,
    var(--ac-pu) 2.5em,
    var(--ac-pu-a) 2.5em,
    var(--ac-pu-fade)
  ) !important;
}
.bq[custom-bqstyle][custom-bqstyle~="IMPORTANT" i]
  > .p:first-child
  > div[contenteditable="true"]:before {
  content: var(--i-bq-callout-important);
  font-weight: bolder !important;
}

.bq[custom-bqstyle][custom-bqstyle~="CAUTION" i] {
  border: 2px solid var(--ac-rd-lg) !important;
  background: linear-gradient(
    180deg,
    var(--ac-rd) 2.5em,
    var(--ac-rd-a) 2.5em,
    var(--ac-rd-fade)
  ) !important;
}
.bq[custom-bqstyle][custom-bqstyle~="CAUTION" i]
  > .p:first-child
  > div[contenteditable="true"]:before {
  content: var(--i-bq-callout-caution);
}

/* 和彩虹引用适配 */
.bq[custom-bqcolor~="t1" i]
  > .p:first-child
  > div:first-child
  > :is([data-type="strong"], [data-type="mark"]):only-child,
.bq[custom-bqcolor~="t1!" i]
  > .p:first-child
  > div:first-child
  > :is([data-type="strong"], [data-type="mark"]):only-child,
.bq[custom-bqcolor~="t1" i] > .h6:first-child,
.bq[custom-bqcolor~="t1!" i] > .h6:first-child {
  color: var(--ac-t1-title-lg);
}
.bq[custom-bqcolor~="t2" i]
  > .p:first-child
  > div:first-child
  > :is([data-type="strong"], [data-type="mark"]):only-child,
.bq[custom-bqcolor~="t2!" i]
  > .p:first-child
  > div:first-child
  > :is([data-type="strong"], [data-type="mark"]):only-child,
.bq[custom-bqcolor~="t2" i] > .h6:first-child,
.bq[custom-bqcolor~="t2!" i] > .h6:first-child {
  color: var(--ac-t2-title-lg);
}
.bq[custom-bqcolor~="gd" i]
  > .p:first-child
  > div:first-child
  > :is([data-type="strong"], [data-type="mark"]):only-child,
.bq[custom-bqcolor~="gd!" i]
  > .p:first-child
  > div:first-child
  > :is([data-type="strong"], [data-type="mark"]):only-child,
.bq[custom-bqcolor~="gd" i] > .h6:first-child,
.bq[custom-bqcolor~="gd!" i] > .h6:first-child {
  color: var(--ac-gd-title-lg);
}
.bq[custom-bqcolor~="pk" i]
  > .p:first-child
  > div:first-child
  > :is([data-type="strong"], [data-type="mark"]):only-child,
.bq[custom-bqcolor~="pk!" i]
  > .p:first-child
  > div:first-child
  > :is([data-type="strong"], [data-type="mark"]):only-child,
.bq[custom-bqcolor~="pk" i] > .h6:first-child,
.bq[custom-bqcolor~="pk!" i] > .h6:first-child {
  color: var(--ac-pk-title-lg);
}
.bq[custom-bqcolor~="ye" i]
  > .p:first-child
  > div:first-child
  > :is([data-type="strong"], [data-type="mark"]):only-child,
.bq[custom-bqcolor~="ye!" i]
  > .p:first-child
  > div:first-child
  > :is([data-type="strong"], [data-type="mark"]):only-child,
.bq[custom-bqcolor~="ye" i] > .h6:first-child,
.bq[custom-bqcolor~="ye!" i] > .h6:first-child {
  color: var(--ac-ye-title-lg);
}
.bq[custom-bqcolor~="lm" i]
  > .p:first-child
  > div:first-child
  > :is([data-type="strong"], [data-type="mark"]):only-child,
.bq[custom-bqcolor~="lm!" i]
  > .p:first-child
  > div:first-child
  > :is([data-type="strong"], [data-type="mark"]):only-child,
.bq[custom-bqcolor~="lm" i] > .h6:first-child,
.bq[custom-bqcolor~="lm!" i] > .h6:first-child {
  color: var(--ac-lm-title-lg);
}
.bq[custom-bqcolor~="aq" i]
  > .p:first-child
  > div:first-child
  > :is([data-type="strong"], [data-type="mark"]):only-child,
.bq[custom-bqcolor~="aq!" i]
  > .p:first-child
  > div:first-child
  > :is([data-type="strong"], [data-type="mark"]):only-child,
.bq[custom-bqcolor~="aq" i] > .h6:first-child,
.bq[custom-bqcolor~="aq!" i] > .h6:first-child {
  color: var(--ac-aq-title-lg);
}
.bq[custom-bqcolor~="la" i]
  > .p:first-child
  > div:first-child
  > :is([data-type="strong"], [data-type="mark"]):only-child,
.bq[custom-bqcolor~="la!" i]
  > .p:first-child
  > div:first-child
  > :is([data-type="strong"], [data-type="mark"]):only-child,
.bq[custom-bqcolor~="la" i] > .h6:first-child,
.bq[custom-bqcolor~="la!" i] > .h6:first-child {
  color: var(--ac-la-title-lg);
}
.bq[custom-bqcolor~="bn" i]
  > .p:first-child
  > div:first-child
  > :is([data-type="strong"], [data-type="mark"]):only-child,
.bq[custom-bqcolor~="bn!" i]
  > .p:first-child
  > div:first-child
  > :is([data-type="strong"], [data-type="mark"]):only-child,
.bq[custom-bqcolor~="bn" i] > .h6:first-child,
.bq[custom-bqcolor~="bn!" i] > .h6:first-child {
  color: var(--ac-bn-title-lg);
}
.bq[custom-bqcolor~="ro" i]
  > .p:first-child
  > div:first-child
  > :is([data-type="strong"], [data-type="mark"]):only-child,
.bq[custom-bqcolor~="ro!" i]
  > .p:first-child
  > div:first-child
  > :is([data-type="strong"], [data-type="mark"]):only-child,
.bq[custom-bqcolor~="ro" i] > .h6:first-child,
.bq[custom-bqcolor~="ro!" i] > .h6:first-child {
  color: var(--ac-ro-title-lg);
}
.bq[custom-bqcolor~="rd" i]
  > .p:first-child
  > div:first-child
  > :is([data-type="strong"], [data-type="mark"]):only-child,
.bq[custom-bqcolor~="rd!" i]
  > .p:first-child
  > div:first-child
  > :is([data-type="strong"], [data-type="mark"]):only-child,
.bq[custom-bqcolor~="rd" i] > .h6:first-child,
.bq[custom-bqcolor~="rd!" i] > .h6:first-child {
  color: var(--ac-rd-title-lg);
}
.bq[custom-bqcolor~="og" i]
  > .p:first-child
  > div:first-child
  > :is([data-type="strong"], [data-type="mark"]):only-child,
.bq[custom-bqcolor~="og!" i]
  > .p:first-child
  > div:first-child
  > :is([data-type="strong"], [data-type="mark"]):only-child,
.bq[custom-bqcolor~="og" i] > .h6:first-child,
.bq[custom-bqcolor~="og!" i] > .h6:first-child {
  color: var(--ac-og-title-lg);
}
.bq[custom-bqcolor~="gn" i]
  > .p:first-child
  > div:first-child
  > :is([data-type="strong"], [data-type="mark"]):only-child,
.bq[custom-bqcolor~="gn!" i]
  > .p:first-child
  > div:first-child
  > :is([data-type="strong"], [data-type="mark"]):only-child,
.bq[custom-bqcolor~="gn" i] > .h6:first-child,
.bq[custom-bqcolor~="gn!" i] > .h6:first-child {
  color: var(--ac-gn-title-lg);
}
.bq[custom-bqcolor~="cy" i]
  > .p:first-child
  > div:first-child
  > :is([data-type="strong"], [data-type="mark"]):only-child,
.bq[custom-bqcolor~="cy!" i]
  > .p:first-child
  > div:first-child
  > :is([data-type="strong"], [data-type="mark"]):only-child,
.bq[custom-bqcolor~="cy" i] > .h6:first-child,
.bq[custom-bqcolor~="cy!" i] > .h6:first-child {
  color: var(--ac-cy-title-lg);
}
.bq[custom-bqcolor~="bu" i]
  > .p:first-child
  > div:first-child
  > :is([data-type="strong"], [data-type="mark"]):only-child,
.bq[custom-bqcolor~="bu!" i]
  > .p:first-child
  > div:first-child
  > :is([data-type="strong"], [data-type="mark"]):only-child,
.bq[custom-bqcolor~="bu" i] > .h6:first-child,
.bq[custom-bqcolor~="bu!" i] > .h6:first-child {
  color: var(--ac-bu-title-lg);
}
.bq[custom-bqcolor~="vn" i]
  > .p:first-child
  > div:first-child
  > :is([data-type="strong"], [data-type="mark"]):only-child,
.bq[custom-bqcolor~="vn!" i]
  > .p:first-child
  > div:first-child
  > :is([data-type="strong"], [data-type="mark"]):only-child,
.bq[custom-bqcolor~="vn" i] > .h6:first-child,
.bq[custom-bqcolor~="vn!" i] > .h6:first-child {
  color: var(--ac-vn-title-lg);
}
.bq[custom-bqcolor~="gy" i]
  > .p:first-child
  > div:first-child
  > :is([data-type="strong"], [data-type="mark"]):only-child,
.bq[custom-bqcolor~="gy!" i]
  > .p:first-child
  > div:first-child
  > :is([data-type="strong"], [data-type="mark"]):only-child,
.bq[custom-bqcolor~="gy" i] > .h6:first-child,
.bq[custom-bqcolor~="gy!" i] > .h6:first-child {
  color: var(--ac-gy-title-lg);
}
.bq[custom-bqcolor~="pu" i]
  > .p:first-child
  > div:first-child
  > :is([data-type="strong"], [data-type="mark"]):only-child,
.bq[custom-bqcolor~="pu!" i]
  > .p:first-child
  > div:first-child
  > :is([data-type="strong"], [data-type="mark"]):only-child,
.bq[custom-bqcolor~="pu" i] > .h6:first-child,
.bq[custom-bqcolor~="pu!" i] > .h6:first-child {
  color: var(--ac-pu-title-lg);
}
.bq[custom-bqcolor~="wn" i]
  > .p:first-child
  > div:first-child
  > :is([data-type="strong"], [data-type="mark"]):only-child,
.bq[custom-bqcolor~="wn!" i]
  > .p:first-child
  > div:first-child
  > :is([data-type="strong"], [data-type="mark"]):only-child,
.bq[custom-bqcolor~="wn" i] > .h6:first-child,
.bq[custom-bqcolor~="wn!" i] > .h6:first-child {
  color: var(--ac-wn-title-lg);
}
.bq[custom-bqcolor~="ol" i]
  > .p:first-child
  > div:first-child
  > :is([data-type="strong"], [data-type="mark"]):only-child,
.bq[custom-bqcolor~="ol!" i]
  > .p:first-child
  > div:first-child
  > :is([data-type="strong"], [data-type="mark"]):only-child,
.bq[custom-bqcolor~="ol" i] > .h6:first-child,
.bq[custom-bqcolor~="ol!" i] > .h6:first-child {
  color: var(--ac-ol-title-lg);
}
.bq[custom-bqcolor~="mn" i]
  > .p:first-child
  > div:first-child
  > :is([data-type="strong"], [data-type="mark"]):only-child,
.bq[custom-bqcolor~="mn!" i]
  > .p:first-child
  > div:first-child
  > :is([data-type="strong"], [data-type="mark"]):only-child,
.bq[custom-bqcolor~="mn" i] > .h6:first-child,
.bq[custom-bqcolor~="mn!" i] > .h6:first-child {
  color: var(--ac-mn-title-lg);
}
.bq[custom-bqcolor~="se" i]
  > .p:first-child
  > div:first-child
  > :is([data-type="strong"], [data-type="mark"]):only-child,
.bq[custom-bqcolor~="se!" i]
  > .p:first-child
  > div:first-child
  > :is([data-type="strong"], [data-type="mark"]):only-child,
.bq[custom-bqcolor~="se" i] > .h6:first-child,
.bq[custom-bqcolor~="se!" i] > .h6:first-child {
  color: var(--ac-se-title-lg);
}
.bq[custom-bqcolor~="bk" i]
  > .p:first-child
  > div:first-child
  > :is([data-type="strong"], [data-type="mark"]):only-child,
.bq[custom-bqcolor~="bk!" i]
  > .p:first-child
  > div:first-child
  > :is([data-type="strong"], [data-type="mark"]):only-child,
.bq[custom-bqcolor~="bk" i] > .h6:first-child,
.bq[custom-bqcolor~="bk!" i] > .h6:first-child {
  color: var(--ac-bk-title-lg);
}
