/* REN： 引用自 Siyuan OneNote 主题的 file-tree.css 文件，稍作修改 */

:root{
    /* 8种文档树鼠标悬浮颜色 */
    --b3-filetree-background1: #fbd2d4;
    --b3-filetree-background2: #fce1cd;
    --b3-filetree-background3: #fcf4cc;
    --b3-filetree-background4: #cce7e0;
    --b3-filetree-background5: #cde3f4;
    --b3-filetree-background6: #dbdcf4;
    --b3-filetree-background7: #e7d5f5;
    --b3-filetree-background8: #e4e4e4;

    /* 8中文档树左侧线条颜色 */
    --b3-filetree-border-color1: #e84c21cc;
    --b3-filetree-border-color2: #ed7d31cc;
    --b3-filetree-border-color3: #ffc000cc;
    --b3-filetree-border-color4: #70ad47cc;
    --b3-filetree-border-color5: #1ec3b4cc;
    --b3-filetree-border-color6: #5b9bd5cc;
    --b3-filetree-border-color7: #8064a2cc;
    --b3-filetree-border-color8: #7a878bcc;
}

html[data-theme-mode="dark"] {
        /* 8种文档树鼠标悬浮颜色 */
        --b3-filetree-background1: #805c5d;
        --b3-filetree-background2: #756153;
        --b3-filetree-background3: #86805f;
        --b3-filetree-background4: #598277;
        --b3-filetree-background5: #667988;
        --b3-filetree-background6: #76789a;
        --b3-filetree-background7: #8e7d9b;
        --b3-filetree-background8: #967a7a;
    
        /* 8中文档树左侧线条颜色 */
        --b3-filetree-border-color1: #a93b1dcc;
        --b3-filetree-border-color2: #a95a26cc;
        --b3-filetree-border-color3: #95740fcc;
        --b3-filetree-border-color4: #70ad47cc;
        --b3-filetree-border-color5: #0f534ecc;
        --b3-filetree-border-color6: #3a6994cc;
        --b3-filetree-border-color7: #5a4375cc;
        --b3-filetree-border-color8: #566569cc;
}

/* -----------------------------------------------------------取消文档树、大纲、反向链接左边的icon，感觉显示重复了 */
.block__logo svg {
    display: none;
}

/* ------------------------------------------------------文档树--------------------------------------- */
/* 文档树引用数字的颜色 */
.counter {
    color: var(--m-theme2-on-background);
    background: var(--m-theme2-alt-0-8);
}

.counter:hover {
    color: var(--m-theme1-on-background);
    background: var(--m-theme1-alt-0-8);
}

/* ————————————————————————————文件树文档图标悬浮放大———————————————————————— */
.b3-list--files .b3-list-item__icon {
    transition: all 0.1s ease-in-out;
}

.b3-list--files .b3-list-item__icon:hover {
    transform: scale(1.2);
    transition: all 0.1s ease-in-out;
}

/* ————————————————————————————dock栏和顶部图标放大动效—————————————————————— */
.dock--vertical .dock__item:hover svg,
.toolbar__item:hover svg {
    transform: scale(1.1);
    transition: all 0.1s ease-in-out;
}

.block__icon:hover svg {
    transform: scale(0.9) !important;
}

.dock--vertical .dock__item svg,
.toolbar__item svg,
.block__icon svg {
    transition: all 0.1s ease-in-out;
}

/* ————————————————————————文档树区分有子文档和无子文档的文档—————————————————————— */
.b3-list-item.b3-list-item--hide-action .b3-list-item__toggle.fn__hidden::before {
    content: "•";
    display: block;
    position: absolute;
    visibility: visible;
    transition: var(--b3-transition);
    margin-bottom: 2px;
    color: #80808042;
}

/* ——————————————————————————————取消默认的隐藏效果———————————————————————— */
.file-tree--leave .b3-list-item__graphic--arrow:not(.fn__hidden) {
    opacity: 1;
}

/* ——————————————————————————————点击文档树emoji不弹出修改窗口—————————————————————————— */
span.b3-list-item__icon.b3-tooltips.b3-tooltips__n {
    pointer-events: none;
}

/* -----------------------------------------------------------文档树条目------------------------------------------------- */
/* ------------------------------------文档树文字设置为灰色------------------------------- */
.b3-list-item__text {
    color: var(--b3-theme-on-background);
}

/* 当前笔记本背景颜色和文档树背景颜色一致 */
div.sy__file li.b3-list-item[data-type="navigation-root"].b3-list-item--hide-action.b3-list-item--focus {
    background-color: var(--b3-theme-background2) !important;
}

/* 文档树中，emoji图标悬浮时背景颜色为透明 */
div.sy__file .b3-list-item__icon:hover {
    background-color: transparent !important;
}

/*电脑*/
@media screen and (min-width: 960px) {

    /* 设置文档树各个文档的高度 */
    .fn__flex-1.fn__flex-column.file-tree.sy__outline li.b3-list-item,
    .fn__flex-1.fn__flex-column.file-tree.sy__file li.b3-list-item {
        height: 2em;
    }
}

/* 鼠标在文档树前面悬浮时背景为透明 */
.b3-list-item__toggle--hl:hover {
    background-color: transparent;
}


/* ——————————————————————————————————————————多彩文档树部分代码，给笔记本之间增加间隔—————————————————————————————————————————— */
.fn__flex-1.fn__flex-column.file-tree.sy__file ul.b3-list.b3-list--background {
    border-radius: 1px;
    margin: 7px 4px 7px 18px;
}

/* 设置笔记本字体加粗（默认取消） */
[data-type="navigation-root"] {
   margin:0px 8px;
}

/* 给文档树笔记本前面加上伪元素，模拟OneNote笔记本的效果 */
[data-type="navigation-root"]::before {
    content: "";
    width: 14px;
    height: 28px;
    display: inline-block;
    position: absolute;
    left: -16px;
    border-radius: 5px 0px 0px 5px !important;
    box-shadow: -5px 0px 5px rgba(136, 136, 136, 0.2) inset;
}

/* 针对不同的位置，设置不同的颜色 */
.b3-list:nth-of-type(8n+1)>[data-type="navigation-root"]::before {
    background-color: #e84c22 !important;
}

.b3-list:nth-of-type(8n+2)>[data-type="navigation-root"]::before {
    background-color: #ed7d31 !important;
}

.b3-list:nth-of-type(8n+3)>[data-type="navigation-root"]::before {
    background-color: #ffc000 !important;
}

.b3-list:nth-of-type(8n+4)>[data-type="navigation-root"]::before {
    background-color: #70ad47 !important;
}

.b3-list:nth-of-type(8n+5)>[data-type="navigation-root"]::before {
    background-color: #1ec3b4 !important;
}

.b3-list:nth-of-type(8n+6)>[data-type="navigation-root"]::before {
    background-color: #5b9bd5 !important;
}

.b3-list:nth-of-type(8n+7)>[data-type="navigation-root"]::before {
    background-color: #8064a2 !important;
}

.b3-list:nth-of-type(8n)>[data-type="navigation-root"]::before {
    background-color: #7a878b !important;
}


/* 给不同位置笔记本添加不同颜色(不包含文档和关闭的笔记本） */
div.sy__file ul:not(ul ul):not(ul.b3-list.fn__flex-column):nth-of-type(8n+1) {
    border-left: 3px solid var(--b3-filetree-border-color1) !important;
}

div.sy__file ul:not(ul ul):not(ul.b3-list.fn__flex-column):nth-of-type(8n+2) {
    border-left: 3px solid var(--b3-filetree-border-color2) !important;
}

div.sy__file ul:not(ul ul):not(ul.b3-list.fn__flex-column):nth-of-type(8n+3) {
    border-left: 3px solid var(--b3-filetree-border-color3) !important;
}


div.sy__file ul:not(ul ul):not(ul.b3-list.fn__flex-column):nth-of-type(8n+4) {
    border-left: 3px solid var(--b3-filetree-border-color4) !important;
}

div.sy__file ul:not(ul ul):not(ul.b3-list.fn__flex-column):nth-of-type(8n+5) {
    border-left: 3px solid var(--b3-filetree-border-color5) !important;
}

div.sy__file ul:not(ul ul):not(ul.b3-list.fn__flex-column):nth-of-type(8n+6) {
    border-left: 3px solid var(--b3-filetree-border-color6) !important;
}

div.sy__file ul:not(ul ul):not(ul.b3-list.fn__flex-column):nth-of-type(8n+7) {
    border-left: 3px solid var(--b3-filetree-border-color7) !important;
}

div.sy__file ul:not(ul ul):not(ul.b3-list.fn__flex-column):nth-of-type(8n) {
    border-left: 3px solid var(--b3-filetree-border-color8) !important;
}

/* 文档树不同位置鼠标悬浮时，条目背景颜色不同 */
div.sy__file ul:nth-of-type(8n+1) li.b3-list-item.b3-list-item--hide-action:hover
{
    background-color: var(--b3-filetree-background1) !important;
}

div.sy__file ul:nth-of-type(8n+2) li.b3-list-item.b3-list-item--hide-action:hover {
    background-color: var(--b3-filetree-background2) !important;
}

div.sy__file ul:nth-of-type(8n+3) li.b3-list-item.b3-list-item--hide-action:hover {
    background-color: var(--b3-filetree-background3) !important;
}

div.sy__file ul:nth-of-type(8n+4) li.b3-list-item.b3-list-item--hide-action:hover {
    background-color: var(--b3-filetree-background4) !important;
}

div.sy__file ul:nth-of-type(8n+5) li.b3-list-item.b3-list-item--hide-action:hover {
    background-color: var(--b3-filetree-background5) !important;
}

div.sy__file ul:nth-of-type(8n+6) li.b3-list-item.b3-list-item--hide-action:hover {
    background-color: var(--b3-filetree-background6) !important;
}

div.sy__file ul:nth-of-type(8n+7) li.b3-list-item.b3-list-item--hide-action:hover {
    background-color: var(--b3-filetree-background7) !important;
}

div.sy__file ul:nth-of-type(8n) li.b3-list-item.b3-list-item--hide-action:hover {
    background-color: var(--b3-filetree-background8) !important;
}

/* 文档树不同位置鼠标选中时，边框背景色不一样 */
div.sy__file ul:nth-of-type(8n+1) li.b3-list-item--focus
{
    border: 1px solid var(--b3-filetree-border-color1) !important;
    background-color: var(--b3-filetree-background1) !important;
}

div.sy__file ul:nth-of-type(8n+2) li.b3-list-item--focus {
    border: 1px solid var(--b3-filetree-border-color2) !important;
    background-color: var(--b3-filetree-background2) !important;

}

div.sy__file ul:nth-of-type(8n+3) li.b3-list-item--focus {
    border: 1px solid var(--b3-filetree-border-color3) !important;
    background-color: var(--b3-filetree-background3) !important;

}

div.sy__file ul:nth-of-type(8n+4) li.b3-list-item--focus {
    border: 1px solid var(--b3-filetree-border-color4) !important;
    background-color: var(--b3-filetree-background4) !important;

}

div.sy__file ul:nth-of-type(8n+5) li.b3-list-item--focus {
    border: 1px solid var(--b3-filetree-border-color5) !important;
    background-color: var(--b3-filetree-background5) !important;

}

div.sy__file ul:nth-of-type(8n+6) li.b3-list-item--focus {
    border: 1px solid var(--b3-filetree-border-color6) !important;
    background-color: var(--b3-filetree-background6) !important;

}

div.sy__file ul:nth-of-type(8n+7) li.b3-list-item--focus {
    border: 1px solid var(--b3-filetree-border-color7) !important;
    background-color: var(--b3-filetree-background7) !important;

}

div.sy__file ul:nth-of-type(8n) li.b3-list-item--focus {
    border: 1px solid var(--b3-filetree-border-color8) !important;
    background-color: var(--b3-filetree-background8) !important;

}


.b3-list--background .b3-list-item {
   border-radius:0px;
}