/**
 * 代码参考自: [VLook](https://madmaxchow.github.io/VLOOK/index.html)。 
 * 通过引用分栏: 在引用块前，添加分割线，会让下方的连续的引用块分栏显示。
 * #1分割线|分2栏# ; #2分割线分|3栏# ;  #3分割线|分4栏# ; 
 * 
 * 版本: V0.0.1-dev
 * 时间: 2022-04-19
 * 更新日志：
 */
 .protyle-wysiwyg .hr+.bq,
 .protyle-wysiwyg .hr+.bq+.bq,
 .protyle-wysiwyg .hr+.bq,
 .protyle-wysiwyg .hr+.bq+.bq {
     color: var(--d-f-c);
     display: inline-block !important;
     max-width: 43% !important;
     min-width: 43% !important;
     vertical-align: top
 }
 
 .protyle-wysiwyg .hr+.bq+.bq,
 .protyle-wysiwyg .hr+.bq+.bq {
     margin-left: 1% !important
 }
 
 .protyle-wysiwyg .hr+.hr+.bq,
 .protyle-wysiwyg .hr+.hr+.bq+.bq,
 .protyle-wysiwyg .hr+.hr+.bq+.bq+.bq,
 .protyle-wysiwyg .hr+hr+.bq,
 .protyle-wysiwyg .hr+hr+.bq+.bq,
 .protyle-wysiwyg .hr+hr+.bq+.bq+.bq {
     color: var(--d-f-c);
     display: inline-block !important;
     max-width: 28% !important;
     min-width: 28% !important;
     vertical-align: top
 }
 
 .protyle-wysiwyg .hr+.hr+.bq+.bq,
 .protyle-wysiwyg .hr+.hr+.bq+.bq+.bq,
 .protyle-wysiwyg .hr+hr+.bq+.bq,
 .protyle-wysiwyg .hr+hr+.bq+.bq+.bq {
     margin-left: 1% !important
 }
 
 .protyle-wysiwyg .hr+.hr+.hr+.bq,
 .protyle-wysiwyg .hr+.hr+.hr+.bq+.bq,
 .protyle-wysiwyg .hr+.hr+.hr+.bq+.bq+.bq,
 .protyle-wysiwyg .hr+.hr+.hr+.bq+.bq+.bq+.bq,
 .protyle-wysiwyg .hr+hr+hr+.bq,
 .protyle-wysiwyg .hr+hr+hr+.bq+.bq,
 .protyle-wysiwyg .hr+hr+hr+.bq+.bq+.bq,
 .protyle-wysiwyg .hr+hr+hr+.bq+.bq+.bq+.bq {
     color: var(--d-f-c);
     display: inline-block !important;
     max-width: 20% !important;
     min-width: 20% !important;
     vertical-align: top
 }
 
 .protyle-wysiwyg .hr+.hr+.hr+.bq+.bq,
 .protyle-wysiwyg .hr+.hr+.hr+.bq+.bq+.bq,
 .protyle-wysiwyg .hr+.hr+.hr+.bq+.bq+.bq+.bq,
 .protyle-wysiwyg .hr+hr+hr+.bq+.bq,
 .protyle-wysiwyg .hr+hr+hr+.bq+.bq+.bq,
 .protyle-wysiwyg .hr+hr+hr+.bq+.bq+.bq+.bq {
     margin-left: 1% !important
 }

 /*在第一层中*/

 .protyle-wysiwyg .bq .hr+.bq,
 .protyle-wysiwyg .bq .hr+.bq+.bq,
 .protyle-wysiwyg .bq .hr+.bq,
 .protyle-wysiwyg .bq .hr+.bq+.bq {
     color: var(--d-f-c);
     display: inline-block !important;
     max-width: 39% !important;
     min-width: 39% !important;
     vertical-align: top
 }

 .protyle-wysiwyg .bq  .hr+.hr+.bq,
 .protyle-wysiwyg .bq  .hr+.hr+.bq+.bq,
 .protyle-wysiwyg .bq  .hr+.hr+.bq+.bq+.bq,
 .protyle-wysiwyg .bq  .hr+hr+.bq,
 .protyle-wysiwyg .bq  .hr+hr+.bq+.bq,
 .protyle-wysiwyg .bq  .hr+hr+.bq+.bq+.bq {
     color: var(--d-f-c);
     display: inline-block !important;
     max-width: 23% !important;
     min-width: 23% !important;
     vertical-align: top
 }

 .protyle-wysiwyg  .bq  .hr+.hr+.hr+.bq,
 .protyle-wysiwyg  .bq  .hr+.hr+.hr+.bq+.bq,
 .protyle-wysiwyg  .bq  .hr+.hr+.hr+.bq+.bq+.bq,
 .protyle-wysiwyg  .bq  .hr+.hr+.hr+.bq+.bq+.bq+.bq,
 .protyle-wysiwyg  .bq  .hr+hr+hr+.bq,
 .protyle-wysiwyg  .bq  .hr+hr+hr+.bq+.bq,
 .protyle-wysiwyg  .bq  .hr+hr+hr+.bq+.bq+.bq,
 .protyle-wysiwyg  .bq  .hr+hr+hr+.bq+.bq+.bq+.bq {
     color: var(--d-f-c);
     display: inline-block !important;
     max-width: 17% !important;
     min-width: 17% !important;
     vertical-align: top
 }
 