rp,
rt {
    font: 0.75em var(--v-f-fm-bd);
    padding-left: .5em;
    padding-right: .5em
}

rt:hover {
    color: #2aa899;
    opacity: 1;
    transform-origin: center bottom;
    transform: scale(1.5)
}


.protyle-wysiwyg *[data-node-id] .vk-pg span{
    display: none;  
}
