
.protyle-wysiwyg *[data-node-id] .vk-todo span{
    display: none;  
}

.protyle-wysiwyg *[data-node-id] .vk-todo{
    
    font: var(--v-block-kbd-font);
    border-radius: var(--v-block-kbd-border-radius);
    margin: 0px;
    padding: 6px 4px;
    color: var(--v-block-kbd-color);
    border: 2px solid var(--v-block-kbd-border-shadow);
    border-left-color: var(--v-block-kbd-border-color);
    border-top-color: var(--v-block-kbd-border-color);
    background: var(--key-bg);
    box-shadow: 0 0 0 1px var(--v-block-kbd-border-shadow);

}

.protyle-wysiwyg *[data-node-id] .vk-todo button
{
    font: var(--v-block-kbd-font);
    border-radius: var(--v-block-kbd-border-radius);
    margin: 1px;
    padding: 0 4px;
    color: var(--v-block-kbd-color);
    border: 2px solid var(--v-block-kbd-border-shadow);
    border-left-color: var(--v-block-kbd-border-color);
    border-top-color: var(--v-block-kbd-border-color);
    background: var(--key-bg);
    box-shadow: 0 0 0 1px var(--v-block-kbd-border-shadow);
    transform: translate(-3px,-2px)
}

.protyle-wysiwyg *[data-node-id] .vk-todo button:hover{

    box-shadow: 0 0 0 1px var(--v-theme2);
    transform:  translate(-4px,-3px) scale(1.1)
}

.protyle-wysiwyg *[data-node-id] .vk-todo button::after{
    content: attr(custom-codelabel-todo-count);
}

