/**
 * 代码参考自: 集市主题[Dark+]。 
 * 
 *  列表渲染成思维导图
 *
 * 版本: V0.0.1-dev
 * 时间: 2022-04-19
 * 更新日志：
 */

/*整个导图取消缩进*/
.protyle-wysiwyg *[custom-f~=map] .li .list,
.protyle-wysiwyg .hr:first-child+.hr+.hr+*:not(.bq) .li .list,
.protyle-wysiwyg :not(.hr)+.hr+.hr+.hr+*:not(.bq) .li .list{
    padding: 0px;
    margin: 0px;
	transition: all 0.5s;
}

.protyle-wysiwyg *[custom-f~=map].list[data-node-index],
.protyle-wysiwyg .hr:first-child+.hr+.hr+*:not(.bq).list[data-node-index],
.protyle-wysiwyg :not(.hr)+.hr+.hr+.hr+*:not(.bq).list[data-node-index]{
	width:100%;
	overflow-x:auto;/*溢出滚动*/
	padding-bottom:50px;
}
/*子项设偏移调整*/
.protyle-wysiwyg *[custom-f~=map] [data-node-id].li>[data-node-id],
.protyle-wysiwyg .hr:first-child+.hr+.hr+*:not(.bq) [data-node-id].li>[data-node-id],
.protyle-wysiwyg :not(.hr)+.hr+.hr+.hr+*:not(.bq) [data-node-id].li>[data-node-id]{
    margin-left: 20px !important;
	margin-right: -14px !important;
}
.protyle-wysiwyg *[custom-f~=map] [data-node-id].li>.list,
.protyle-wysiwyg .hr:first-child+.hr+.hr+*:not(.bq) [data-node-id].li>.list,
.protyle-wysiwyg :not(.hr)+.hr+.hr+.hr+*:not(.bq) [data-node-id].li>.list{
	padding-left: 20px;
}
/*文字设置居中*/
.protyle-wysiwyg *[custom-f~=map] .li ,
.protyle-wysiwyg .hr:first-child+.hr+.hr+*:not(.bq) .li ,
.protyle-wysiwyg :not(.hr)+.hr+.hr+.hr+*:not(.bq) .li {
	display: flex;
}
.protyle-wysiwyg *[custom-f~=map] .li .p,.protyle-wysiwyg *[custom-f~=map] .li [data-type="NodeHeading"] ,
.protyle-wysiwyg .hr:first-child+.hr+.hr+*:not(.bq) .li .p,.protyle-wysiwyg .hr:first-child+.hr+.hr+*:not(.bq) .li [data-type="NodeHeading"] ,
.protyle-wysiwyg :not(.hr)+.hr+.hr+.hr+*:not(.bq) .li .p,.protyle-wysiwyg :not(.hr)+.hr+.hr+.hr+*:not(.bq) .li [data-type="NodeHeading"] {
	display: flex;
	align-items: center;
	left:6px;
    margin: 0;
}
.protyle-wysiwyg *[custom-f~=map] .li [data-type="NodeHeading"]>[spellcheck="false"]:after,
.protyle-wysiwyg .hr:first-child+.hr+.hr+*:not(.bq) .li [data-type="NodeHeading"]>[spellcheck="false"]:after,
.protyle-wysiwyg :not(.hr)+.hr+.hr+.hr+*:not(.bq) .li [data-type="NodeHeading"]>[spellcheck="false"]:after{
	display:none;
}

/*文字框*/
.protyle-wysiwyg *[custom-f~=map][data-subtype="u"] .li div>div[spellcheck="false"],
.protyle-wysiwyg .hr:first-child+.hr+.hr+*:not(.bq)[data-subtype="u"] .li div>div[spellcheck="false"],
.protyle-wysiwyg :not(.hr)+.hr+.hr+.hr+*:not(.bq)[data-subtype="u"] .li div>div[spellcheck="false"]{
	margin-left:-6px;
	padding:5px 10px;
	margin-top:2px;
	background-color:var(--mapline-p-bg-color);
	border-radius:3px;
	box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px;
	white-space: nowrap;
}

/*文字框-非无序列表*/
.protyle-wysiwyg *[custom-f~=map]:not([data-subtype="u"]) .li div>div[spellcheck="false"],
.protyle-wysiwyg .hr:first-child+.hr+.hr+*:not(.bq):not([data-subtype="u"]) .li div>div[spellcheck="false"],
.protyle-wysiwyg :not(.hr)+.hr+.hr+.hr+*:not(.bq):not([data-subtype="u"]) .li div>div[spellcheck="false"]{
	margin-left:-6px;
	padding:5px 10px 5px 25px;
	margin-top:2px;
	background-color:var(--mapline-p-bg-color);
	border-radius:3px;
	box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px;
	white-space: nowrap;
}

/*去除竖线*/
.list[custom-f~=map][data-node-id] .li>:before ,
.hr:first-child+.hr+.hr+.list[data-node-id] .li>:before ,
:not(.hr)+.hr+.hr+.hr+.list[data-node-id] .li>:before {
    display: none;
}

/*圆点符号居中对齐*/
.list[data-node-id][custom-f~=map][data-subtype="u"]  .protyle-action ,
.hr:first-child+.hr+.hr+.list[data-node-id][data-subtype="u"]  .protyle-action ,
:not(.hr)+.hr+.hr+.hr+.list[data-node-id][data-subtype="u"]  .protyle-action {
    top: 50%;
	position: absolute;
	transform: translate(-25%, -50%);
	margin-left:10px;
	z-index:2;
}

/*圆点符号居中对齐-非无序列表*/
.list[data-node-id][custom-f~=map]:not([data-subtype="u"])  .protyle-action ,
.hr:first-child+.hr+.hr+.list[data-node-id]:not([data-subtype="u"])  .protyle-action ,
:not(.hr)+.hr+.hr+.hr+.list[data-node-id]:not([data-subtype="u"])  .protyle-action {
    top: 50%;
	position: absolute;
	transform: translate(0, -50%);
	margin-left:20px;
	z-index:2;
}

/*前继承线*/
.protyle-wysiwyg *[custom-f~=map] .li::before,
.protyle-wysiwyg .hr:first-child+.hr+.hr+*:not(.bq) .li::before,
.protyle-wysiwyg :not(.hr)+.hr+.hr+.hr+*:not(.bq) .li::before{   
    content: '';   
    position: absolute;  
	top: 50%;   
    border-top:2px solid #ffb8b8;    
    width: 20px;  
	height: 50%;     
}
/*上竖线*/
.protyle-wysiwyg *[custom-f~=map] .li::before,
.protyle-wysiwyg .hr:first-child+.hr+.hr+*:not(.bq) .li::before,
.protyle-wysiwyg :not(.hr)+.hr+.hr+.hr+*:not(.bq) .li::before{   
    bottom: 50%;    
    border-left:2px solid #ffb8b8;   
}
/*下竖线*/
.protyle-wysiwyg *[custom-f~=map] .li::after,
.protyle-wysiwyg .hr:first-child+.hr+.hr+*:not(.bq) .li::after,
.protyle-wysiwyg :not(.hr)+.hr+.hr+.hr+*:not(.bq) .li::after{   
    content: '';   
    position: absolute;  
	bottom: 50%;   
    border-left:2px solid #ffb8b8;    
    width: 20px;  
	height: 50%; 
}
/*单个子项直线*/
.protyle-wysiwyg *[custom-f~=map] .list>.li:first-child:nth-last-child(2)::after,
.protyle-wysiwyg .hr:first-child+.hr+.hr+*:not(.bq) .list>.li:first-child:nth-last-child(2)::after,
.protyle-wysiwyg :not(.hr)+.hr+.hr+.hr+*:not(.bq) .list>.li:first-child:nth-last-child(2)::after{   
	 border-radius:0px; 
	 margin-bottom:-2px;
}
/*单子项居中*/
.protyle-wysiwyg *[custom-f~=map] .list>.li:first-child:nth-last-child(2),
.protyle-wysiwyg .hr:first-child+.hr+.hr+*:not(.bq) .list>.li:first-child:nth-last-child(2),
.protyle-wysiwyg :not(.hr)+.hr+.hr+.hr+*:not(.bq) .list>.li:first-child:nth-last-child(2){
    top: 50%;
    transform: translate(0, -50%);
}
/*取消多余线条*/
.protyle-wysiwyg *[custom-f~=map] .li:first-child::after,.protyle-wysiwyg *[custom-f~=map]  .li:nth-last-child(2)::before,
.protyle-wysiwyg .hr:first-child+.hr+.hr+*:not(.bq)  .li:first-child::after,.protyle-wysiwyg .hr:first-child+.hr+.hr+*:not(.bq)  .li:nth-last-child(2)::before,
.protyle-wysiwyg :not(.hr)+.hr+.hr+.hr+*:not(.bq) .li:first-child::after,.protyle-wysiwyg :not(.hr)+.hr+.hr+.hr+*:not(.bq)  .li:nth-last-child(2)::before{   
    border:none!important;    
}
/*上框线*/
.protyle-wysiwyg *[custom-f~=map] .li:first-child::before,
.protyle-wysiwyg .hr:first-child+.hr+.hr+*:not(.bq) .li:first-child::before,
.protyle-wysiwyg :not(.hr)+.hr+.hr+.hr+*:not(.bq) .li:first-child::before{   
    border-radius:5px 0 0 0 ;    
}  
/*下框线*/
.protyle-wysiwyg *[custom-f~=map] .li:nth-last-child(2)::after,
.protyle-wysiwyg .hr:first-child+.hr+.hr+*:not(.bq) .li:nth-last-child(2)::after,
.protyle-wysiwyg :not(.hr)+.hr+.hr+.hr+*:not(.bq) .li:nth-last-child(2)::after{   
    border-bottom:2px solid #ffb8b8!important;    
    border-radius:0 0 0 5px;    
}

/*后继承线*/
.list[custom-f~=map] .list::after,
.hr:first-child+.hr+.hr+.list .list::after,
:not(.hr)+.hr+.hr+.hr+.list .list::after{   
    content: '';   
    position: absolute; 
	left: 0; 
	top: 50%;   
    border-top:2px solid #ffb8b8;   
    width: 20px; 
	height: 0;  
}

/*取消根目录线*/
div[data-node-index]>[data-type="NodeListItem"]::after,
div[data-node-index]>[data-type="NodeListItem"]::before{   
	display: none;
}  

/*文本高亮*/

.protyle-wysiwyg *[custom-f~=map] .li div>[spellcheck="false"]:hover, 
.protyle-wysiwyg *[custom-f~=map] .li div:hover+.list .li div>[spellcheck="false"],
.protyle-wysiwyg .hr:first-child+.hr+.hr+*:not(.bq) .li div>[spellcheck="false"]:hover, 
.protyle-wysiwyg .hr:first-child+.hr+.hr+*:not(.bq) .li div:hover+.list .li div>[spellcheck="false"],
.protyle-wysiwyg :not(.hr)+.hr+.hr+.hr+*:not(.bq) .li div>[spellcheck="false"]:hover, 
.protyle-wysiwyg :not(.hr)+.hr+.hr+.hr+*:not(.bq) .li div:hover+.list .li div>[spellcheck="false"]
{
	background-color:var(--b3-theme-primary-lightest)!important; 
	box-shadow: var(--b3-theme-primary) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px;
}   

/*继承线高亮*/
.protyle-wysiwyg *[custom-f~=map] .li :hover+.list::after,    
.protyle-wysiwyg *[custom-f~=map] .li :hover+.list .list::after,
.protyle-wysiwyg :not(.hr)+.hr+.hr+.hr+*:not(.bq) .li :hover+.list .li::after,    
.protyle-wysiwyg :not(.hr)+.hr+.hr+.hr+*:not(.bq) .li :hover+.list .li::before,    
.protyle-wysiwyg .hr:first-child+.hr+.hr+*:not(.bq) .li :hover+.list .list::after,
.protyle-wysiwyg .hr:first-child+.hr+.hr+*:not(.bq).li :hover+.list .list::after{   
    border-color:var(--b3-theme-primary)!important;    
}  
