.protyle-wysiwyg [data-node-id] span.mult-tag[data-type='tag']:not(:empty){
    position: relative;
    color: var(--v-tag-color);
    background-color: var(--v-tag-bgcolor);
    margin: 0px 0px;
    padding: 1px 5px;
    border-radius:5px;
}

.protyle-wysiwyg [data-node-id] span.mult-tag[data-type='tag']:not(:empty)::before{
    content: "";
}

.protyle-wysiwyg [data-node-id] span.mult-tag[data-type='tag']:not(:empty) span.mult-tag-lv1{
    margin: 1px 2px;
    padding: 1px 2px;
}

.protyle-wysiwyg [data-node-id] span.mult-tag[data-type='tag']:not(:empty) span.mult-tag-lv1::before{
    content: "# ";
    color: var(--v-tag-icon);
}

.protyle-wysiwyg [data-node-id] span.mult-tag[data-type='tag']:not(:empty) span.mult-tag-lv2 {
    color: var(--v-tag-bgcolor);
    background-color: #ffffff;
    border-radius: 0 5px 5px 0  ;
    padding: 1px 5px;
    margin: 1px 2px;
}


.protyle-wysiwyg [data-node-id] span.mult-tag[data-type='tag']:not(:empty) span.mult-tag-none{
    display: none;
}